Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-09, with the labels that each got.

#866 Feat: make row estimation of tx and pi circuits more precise
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#867 Feat: bump up poseidon-circuit to enable parallel synthesis
  Cargo.lock
  bus-mapping/Cargo.toml
  eth-types/Cargo.toml
  zkevm-circuits/Cargo.toml
  zktrie/Cargo.toml
Labels: crate-bus-mapping, crate-eth-types

#869 bump l2geth; support sig circuit in testool
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/precompile.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  testool/src/main.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/sig_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-geth-utils

#870 add more tests for modexp
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
Labels: crate-zkevm-circuits

#873 ec pairing simplify
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_pairing.rs
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/ecc_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#560 refactor: update the default sign_data
  bus-mapping/src/circuit_input_builder.rs
  eth-types/src/sign_types.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#872 fix issue with msg_hash = 0
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/test.rs
  zkevm-circuits/src/sig_circuit/utils.rs
Labels: crate-zkevm-circuits

#874 Fix: copy chain_id to tx circuit
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#875 rewrite geth_utils with go.work
  geth-utils/README.md
  geth-utils/build.rs
  geth-utils/example/add_sub.go
  geth-utils/example/msize.go
  geth-utils/example/mstore_mload.go
  geth-utils/example/sstore_sload.go
  geth-utils/gethutil/asm.go
  geth-utils/gethutil/util.go
  geth-utils/l1geth/go.mod
  geth-utils/l1geth/go.sum
  geth-utils/l1geth/lib.go
  geth-utils/l1geth/trace.go
  geth-utils/l2geth/asm.go
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  geth-utils/l2geth/trace.go
  geth-utils/l2geth/util.go
  go.work
Labels: crate-geth-utils

#877 fix(trace): add base fee
  external-tracer/src/lib.rs
  geth-utils/l2geth/trace.go
Labels: crate-geth-utils, crate-external-tracer

#879 testool: better handling of parallelism
  testool/src/main.rs
  testool/src/statetest/suite.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#878 feat: check post tx account
  Makefile
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/lib.rs
  eth-types/src/l2_types.rs
  eth-types/src/lib.rs
  testool/src/statetest/spec.rs
Labels: crate-bus-mapping, crate-eth-types

#886 test: don't use l1 tx in tracing
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/lib.rs
  external-tracer/src/lib.rs
  mock/Cargo.toml
  mock/src/test_ctx.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-external-tracer, crate-mock

#857 Optimize EVM selectors
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
Labels: crate-zkevm-circuits

#889 upgrade halo2-lib to fix ec pairing
  Cargo.lock
  aggregator/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/ecc_circuit.rs
Labels: crate-zkevm-circuits

#880 fix bug in #872 fix/msg-hash-zero
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/utils.rs
Labels: crate-zkevm-circuits

#895 fix(ecmul): support -1 * (0,0)
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
Labels: crate-zkevm-circuits

#892 fix: load constants wherever applicable
  bus-mapping/src/circuit_input_builder/execution.rs
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/ecc_circuit/test.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#896 improve poseidon ccc log
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/modexp_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-zkevm-circuits

#899 change BYTECODE_TABLE_LOOKUPS to 8
  .github/workflows/ProverBenchFromHalo2.yml
  .github/workflows/ci.yml
  .github/workflows/gh-actions-prover-benches.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
  .github/workflows/select-runner.yml
  .github/workflows/test-features.yml
  testool/src/statetest/executor.rs
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, CI

#904 fix tob-wave3-week3 issues
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/utils.rs
Labels: crate-zkevm-circuits

#907 minor refactor of testool
  testool/src/statetest/executor.rs
  zkevm-circuits/src/sig_circuit.rs
Labels: crate-zkevm-circuits

#545 FEAT: parallelize witness assignment of state circuit using assign_regions api
  .github/workflows/ci.yml
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits, CI

#909 fix calldataload when tx.to = null
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
Labels: crate-zkevm-circuits

#913 test: calldataload/calldatasize/calldatacopy inside deployment
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/calldatasize.rs
Labels: crate-zkevm-circuits

#916 fix end_tx soundness
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-zkevm-circuits

#893 feat: add common function of `prover`
  Cargo.lock
  Cargo.toml
  prover/Cargo.toml
  prover/src/aggregator.rs
  prover/src/aggregator/prover.rs
  prover/src/aggregator/verifier.rs
  prover/src/common.rs
  prover/src/common/prover.rs
  prover/src/common/prover/aggregation.rs
  prover/src/common/prover/chunk.rs
  prover/src/common/prover/compression.rs
  prover/src/common/prover/evm.rs
  prover/src/common/prover/inner.rs
  prover/src/common/prover/mock.rs
  prover/src/common/prover/utils.rs
  prover/src/common/verifier.rs
  prover/src/common/verifier/evm.rs
  prover/src/common/verifier/utils.rs
  prover/src/config.rs
  prover/src/consts.rs
  prover/src/inner.rs
  prover/src/inner/prover.rs
  prover/src/inner/prover/mock.rs
  prover/src/inner/verifier.rs
  prover/src/io.rs
  prover/src/lib.rs
  prover/src/proof.rs
  prover/src/proof/batch.rs
  prover/src/proof/chunk.rs
  prover/src/proof/evm.rs
  prover/src/types.rs
  prover/src/utils.rs
  prover/src/zkevm.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit.rs
  prover/src/zkevm/circuit/l1_builder.rs
  prover/src/zkevm/circuit/l2_builder.rs
  prover/src/zkevm/circuit/super_circuit.rs
  prover/src/zkevm/prover.rs
  prover/src/zkevm/verifier.rs
Labels: crate-prover

#920 constrain log memory address
  zkevm-circuits/src/evm_circuit/execution/logs.rs
Labels: crate-zkevm-circuits

#914 [feat] prestate tracer
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/access.rs
  bus-mapping/src/rpc.rs
  eth-types/src/lib.rs
  integration-tests/tests/mainnet.rs
  integration-tests/tests/rpc.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-eth-types

#922 refactor(bus-mapping): spit begin end tx to another file
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
Labels: crate-bus-mapping

#921 feat: add inner-prove and chunk-prove to testool
  Cargo.lock
  prover/src/common/prover/chunk.rs
  prover/src/common/prover/utils.rs
  prover/src/common/verifier/utils.rs
  prover/src/config.rs
  prover/src/zkevm/prover.rs
  testool/Cargo.toml
  testool/Makefile
  testool/download_setup.sh
  testool/src/statetest/executor.rs
Labels: crate-prover

#924 opt(assignment): only do 3rd phase assignment for evm circuit in supe…
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#927 fix: validate chain ID when generates witness block
  prover/src/zkevm/circuit/l2_builder.rs
Labels: crate-prover

#929 add "" to default codedb
  bus-mapping/src/state_db.rs
Labels: crate-bus-mapping

#935 Bug fix: fixed part of tx table must have is_calldata = false
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#931 fix ecdsa circuit binary selection bug
  Cargo.lock
  aggregator/Cargo.toml
  prover/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/test.rs
  zkevm-circuits/src/sig_circuit/utils.rs
Labels: crate-prover, crate-zkevm-circuits

#934 fix: replace `dotenv` with `dotenvy`
  Cargo.lock
  prover/Cargo.toml
  prover/src/utils.rs
Labels: crate-prover

#930 ecrecover soundness (address not recovered)
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/evm/opcodes/precompiles/ecrecover.rs
  eth-types/src/sign_types.rs
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/test.rs
  zkevm-circuits/src/sig_circuit/utils.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#937 upgrade ethers from 0.17.0 to 2.0.7
  Cargo.lock
  Cargo.toml
  aggregator/Cargo.toml
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/mock.rs
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/sign_types.rs
  integration-tests/Cargo.toml
  mock/Cargo.toml
  mock/src/block.rs
  mock/src/transaction.rs
  prover/Cargo.toml
  testool/Cargo.toml
  testool/src/statetest/executor.rs
  testool/src/statetest/json.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/rlp_circuit_fsm/test.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-eth-types, crate-mock

#938 Fix build
  bus-mapping/src/evm/opcodes/precompiles/ecrecover.rs
Labels: crate-bus-mapping

#939 Fix lint
  zkevm-circuits/src/sig_circuit/test.rs
Labels: crate-zkevm-circuits

#850 Super Circuit Invalid Precompile Inputs Integration Tests (OOG, EC Fp Overflow, EC Not on Curve)
  eth-types/src/evm_types.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/precompile_block_trace.rs
  zkevm-circuits/src/super_circuit/test.rs
Labels: crate-zkevm-circuits, crate-eth-types

#936 [feat] fast check_value
  Cargo.lock
  prover/src/zkevm/circuit.rs
  prover/src/zkevm/circuit/l1_builder.rs
  prover/src/zkevm/circuit/l2_builder.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
  zktrie/Cargo.toml
Labels: crate-prover, crate-zkevm-circuits

#940 Fix: keccak circuit's ccc need to consider first dummy chunk
  zkevm-circuits/src/keccak_circuit.rs
Labels: crate-zkevm-circuits

#941 add create edge tests
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-zkevm-circuits

#948 Fix: ec pairing invalid len > 65536 test.
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
Labels: crate-zkevm-circuits

#946 Fix: first 12 rows are dummy (not 300)
  zkevm-circuits/src/keccak_circuit.rs
Labels: crate-zkevm-circuits

#950 many sanity checks for mpt witness
  Cargo.lock
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/state_db.rs
  bus-mapping/src/util.rs
  eth-types/Cargo.toml
  eth-types/src/lib.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/mpt.rs
  zktrie/src/state/builder.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#951 another edge case
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/test.rs
Labels: crate-zkevm-circuits

#958 fix ccc panic CodeNotFound
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#960 better ccc log
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#961 fix: move `inner-prove` and `chunk-prove` to common prover `test` feature
  prover/Cargo.toml
  prover/src/lib.rs
  prover/src/test.rs
  prover/src/test/chunk.rs
  prover/src/test/inner.rs
  testool/Cargo.toml
  testool/src/statetest/executor.rs
Labels: crate-prover

#964 fix(prover): delete `StorageTrace` from `ChunkProof`
  prover/src/lib.rs
  prover/src/proof/chunk.rs
  prover/src/zkevm/circuit.rs
  prover/src/zkevm/circuit/l1_builder.rs
  prover/src/zkevm/circuit/l2_builder.rs
  prover/src/zkevm/prover.rs
Labels: crate-prover

#965 misc refactor: rename batch->chunk; remove useless var; refine comments;
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/mainnet.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit.rs
  prover/src/zkevm/circuit/l2_builder.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-zkevm-circuits

#949 test(mpt circuit): transfer eth to non existing address
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-zkevm-circuits

#966 CI: upgrade actions and fix cache issue
  .github/workflows/ProverBenchFromHalo2.yml
  .github/workflows/ci.yml
  .github/workflows/gh-actions-prover-benches.yml
  .github/workflows/integration.yml
  .github/workflows/labeler.yml
  .github/workflows/lints.yml
  .github/workflows/select-runner.yml
  .github/workflows/test-features.yml
  integration-tests/Cargo.toml
Labels: crate-integration-tests, CI

#955 [feat] testool : more improvements
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  testool/src/main.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/results.rs
  testool/src/statetest/suite.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-geth-utils

#975 fix: add `batch-prove` to prover test module
  prover/src/test.rs
  prover/src/test/batch.rs
  prover/src/test/chunk.rs
Labels: crate-prover

#973 [wip] reduce clone in ccc path
  bus-mapping/src/circuit_input_builder/l2.rs
  eth-types/src/l2_types.rs
  external-tracer/src/lib.rs
  mock/src/test_ctx.rs
  prover/src/inner/prover/mock.rs
  prover/src/utils.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit.rs
  prover/src/zkevm/circuit/l1_builder.rs
  prover/src/zkevm/circuit/l2_builder.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, crate-eth-types, crate-external-tracer, crate-mock

#978 fix: typo in variable name
  integration-tests/src/integration_test_circuits.rs
Labels: crate-integration-tests

#977 Add code hash regression tests
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits

#980 add sanity check to make sure ComparatorChip only use cur() in RLP
  gadgets/src/comparator.rs
Labels: crate-gadgets

#981 [feat] async drop
  bus-mapping/src/circuit_input_builder/l2.rs
  prover/src/zkevm/circuit/l2_builder.rs
Labels: crate-bus-mapping, crate-prover

#982 upgrade mpt circuit
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  integration-tests/src/integration_test_circuits.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zktrie/Cargo.toml
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits

#984 fix: add `set_light_mode` function to ccc
  prover/src/zkevm/capacity_checker.rs
Labels: crate-prover

#956 PUSH optimization
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/pushn.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_constant.rs
  zkevm-circuits/src/evm_circuit/execution/error_stack.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/bytecode.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, post-mainnet

#968 refactor ZktrieState [dup #903]
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/l2.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit/l2_builder.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
  zktrie/Cargo.toml
  zktrie/src/lib.rs
  zktrie/src/state.rs
  zktrie/src/state/builder.rs
  zktrie/src/state/test.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, post-mainnet

#987 optim-invert: cache the inversion of step height
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_zero.rs
Labels: crate-zkevm-circuits
