Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-10, with the labels that each got.

#974 Feat: add support for EIP2930 tx
  eth-types/src/geth_types.rs
  zkevm-circuits/src/rlp_circuit_fsm/test.rs
  zkevm-circuits/src/witness/rlp_fsm.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits, crate-eth-types

#989 fix: add `workspace.package` and `workspace.dependencies` to avoid duplicate
  Cargo.lock
  Cargo.toml
  aggregator/Cargo.toml
  bus-mapping/Cargo.toml
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  external-tracer/Cargo.toml
  gadgets/Cargo.toml
  geth-utils/Cargo.toml
  integration-tests/Cargo.toml
  keccak256/Cargo.toml
  mock/Cargo.toml
  prover/Cargo.toml
  testool/Cargo.toml
  zkevm-circuits/Cargo.toml
  zktrie/Cargo.toml
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-circuit-benchmarks, T-bench, crate-gadgets, crate-keccak, crate-eth-types, crate-geth-utils, crate-external-tracer, crate-mock

#990 create_op: fix memory size
  bus-mapping/src/circuit_input_builder.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#995 fix: move common dependencies to `workspace.dependencies`
  Cargo.lock
  Cargo.toml
  aggregator/Cargo.toml
  bus-mapping/Cargo.toml
  bus-mapping/src/util.rs
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/lib.rs
  external-tracer/Cargo.toml
  gadgets/Cargo.toml
  gadgets/src/evm_word.rs
  integration-tests/Cargo.toml
  keccak256/Cargo.toml
  mock/Cargo.toml
  prover/Cargo.toml
  testool/Cargo.toml
  zkevm-circuits/Cargo.toml
  zktrie/Cargo.toml
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-circuit-benchmarks, T-bench, crate-gadgets, crate-keccak, crate-eth-types, crate-external-tracer, crate-mock

#994 Word hi low precompiles
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/sdiv_smod.rs
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/cmp_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt_word.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
Labels: crate-zkevm-circuits

#970 ccc performance optimization
  bus-mapping/src/circuit_input_builder/l2.rs
  eth-types/src/l2_types.rs
  external-tracer/src/lib.rs
  mock/src/test_ctx.rs
  prover/src/inner/prover/mock.rs
  prover/src/utils.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit.rs
  prover/src/zkevm/circuit/l1_builder.rs
  prover/src/zkevm/circuit/l2_builder.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, crate-eth-types, crate-external-tracer, crate-mock

#999 `ec_sub_unequal` would have panicked for some edge cases
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/test.rs
Labels: crate-zkevm-circuits

#1001 fix: log(0) returns 0
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits

#1003 fix (v0.9): add feature `strict-ccc`
  bus-mapping/Cargo.toml
  bus-mapping/src/evm/opcodes/create.rs
  prover/Cargo.toml
  zkevm-circuits/Cargo.toml
Labels: crate-bus-mapping, crate-prover

#992 Fix/tob wave3 ecdsa circuit review
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/test.rs
  zkevm-circuits/src/sig_circuit/utils.rs
Labels: crate-zkevm-circuits

#969 Refactor sign-types to remove `libsecp256k1` dep
  Cargo.lock
  bus-mapping/src/evm/opcodes/precompiles/ecrecover.rs
  eth-types/Cargo.toml
  eth-types/src/error.rs
  eth-types/src/geth_types.rs
  eth-types/src/sign_types.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/sig_circuit/test.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, post-mainnet

#983 remove unused address_high, otherwise also need to update it for word lo-hi
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-zkevm-circuits

#1007 CI: delete runner-wakeup
  .github/workflows/select-runner.yml
Labels: CI
