Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-07, with the labels that each got.

#581 Re-enable mpt update lookups in test-heavy
  Cargo.lock
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
  zktrie/src/state/witness.rs
Labels: crate-zkevm-circuits

#583 fix state circuit: value_prev column is initial_value for first access for (ext)codecopy
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/operation.rs
Labels: crate-bus-mapping

#568 Proof compression circuit
  .gitignore
  Cargo.lock
  Cargo.toml
  aggregator/Cargo.toml
  aggregator/README.md
  aggregator/configs/compression_thin.config
  aggregator/configs/compression_wide.config
  aggregator/figures/architecture.png
  aggregator/src/chunk.rs
  aggregator/src/compression.rs
  aggregator/src/compression/circuit.rs
  aggregator/src/compression/circuit_ext.rs
  aggregator/src/compression/config.rs
  aggregator/src/constants.rs
  aggregator/src/core.rs
  aggregator/src/lib.rs
  aggregator/src/param.rs
  aggregator/src/tests.rs
  aggregator/src/tests/compression.rs
  aggregator/src/tests/mock_chunk.rs
  aggregator/src/tests/mock_chunk/circuit.rs
  aggregator/src/tests/mock_chunk/circuit_ext.rs
  aggregator/src/tests/mock_chunk/config.rs
  aggregator/tests.sh
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/cell_manager.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/sig_circuit.rs
Labels: crate-zkevm-circuits

#588 Update coinbase codehash to empty code hash if needed
  Cargo.lock
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#585 Fix ecrecover input rlc comparison (right-padding zeroes)
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/precompile.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#590 fix precompile prev bytes
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#592 fix-bufferreader: constrain the "in-bound" selectors vs the addresses
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-zkevm-circuits

#541 Memory opt update
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_invalid_creation_code.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  bus-mapping/src/operation.rs
  eth-types/src/evm_types/memory.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#593 Only call mock_fill_state_roots in super circuit tests
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits

#576 Fix zellic finding 4
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#586 Fix zellic finding 6
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-gadgets, crate-eth-types, crate-geth-utils

#578 Fix finding 10
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#579 Fix finding 13
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#580 Fix zellic finding 14
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#599 fix tx fee in end_tx
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/evm/opcodes/sload.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/byte.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_inner_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/is_zero.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/mul_div_mod.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/sar.rs
  zkevm-circuits/src/evm_circuit/execution/sdiv_smod.rs
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/comparison.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_equal.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_zero.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/witness/tx.rs
  zktrie/src/state.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#584 Fix zellic finding 5
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/witness/l1_msg.rs
  zkevm-circuits/src/witness/rlp_fsm.rs
Labels: crate-zkevm-circuits

#601 Re-use cells between mutually exclusive conditions
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
Labels: crate-zkevm-circuits

#603 Memory opt refactor
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  bus-mapping/src/evm/opcodes/sload.rs
  eth-types/src/evm_types/memory.rs
  eth-types/src/macros.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#604 refactor all copy bytes using rlc_acc equality check
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits

#606 feat: allow deploy contract at addr with non 0 balance
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  testool/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#610 `BeginTx` check for init-code
  Makefile
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#616 Copy: fix conditions
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#617 memory_opt_word_end: replace broken LtChip with IsEqualChip
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits

#620 memory_opt_pad: replace LtChip with a simple column
  bus-mapping/src/circuit_input_builder/execution.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#614 fix finding 22
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#613 Fix finding 21
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits

#602 Fix finding 17
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#621 memory_opt_rlc: simplify rlc_acc check
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#626 word_rlc: introduce value_prev in copy circuit
  bus-mapping/src/circuit_input_builder/execution.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#628 memory_opt_length: constrain length and mask
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#631 memory_opt_rwc: fix and simplify RW counter logic
  bus-mapping/src/circuit_input_builder/execution.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#615 fix-tob-scroll-2: enforce both cases of RLC is_lt_128
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
Labels: crate-zkevm-circuits

#632 [memory_opt] Delete `memory.clone` in invalid-creation-code error
  bus-mapping/src/evm/opcodes/error_invalid_creation_code.rs
  eth-types/src/evm_types/memory.rs
Labels: crate-bus-mapping, crate-eth-types

#634 memory_opt_check_align: require aligned memory addresses in State
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits

#635 Copy: remove LtChip
  bus-mapping/src/circuit_input_builder/execution.rs
  gadgets/src/is_equal.rs
  gadgets/src/is_zero.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-gadgets

#636 memory_opt_readability: Give a name to Rotations
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits

#637 Copy Gadgets
  gadgets/src/is_equal.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
  zkevm-circuits/src/copy_circuit/test.rs
Labels: crate-zkevm-circuits, crate-gadgets

#638 memory_opt: remove duplicate code in CopyTable::assignments
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#629 Avoid whole memory clone when generating copy steps
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  eth-types/src/bytecode.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/memory.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#618 Fix finding 23
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#622 Fix Zellic / Kalos finding 26
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
Labels: crate-zkevm-circuits

#642 [memory_opt] fix failed testool cases for memory copy
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#466 Memory opt with word look up
  .github/workflows/lints.yml
  Cargo.lock
  aggregator/src/compression/config.rs
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_invalid_creation_code.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  eth-types/src/bytecode.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/memory.rs
  eth-types/src/macros.rs
  gadgets/src/is_equal.rs
  gadgets/src/is_zero.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI, crate-gadgets, crate-eth-types

#644 remove todo
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits

#646 fix gen_copy_steps_for_return_data
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#639 Add better min_num_rows_block for mpt circuit
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-zkevm-circuits

#600 `EcMul` gadget
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_mul.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/precompile.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#659 remove ComparisonChip
  gadgets/src/comparison.rs
  gadgets/src/lib.rs
Labels: crate-gadgets

#664 fix: chain_id should not be imported from block.context
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#672 fix accoute creation rw inside callop
  Cargo.lock
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#649 copy-fix-terminate: secure termination
  gadgets/src/binary_number.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
Labels: crate-zkevm-circuits, crate-gadgets

#625 Fix Zellic & Kalos finding 7
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#678 add withdraw_proof to MptUpdates
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/mpt.rs
  zktrie/src/state/witness.rs
Labels: crate-zkevm-circuits

#676 [fix] add precompile to access list
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#675 `EcPairing` EVM Circuit Gadget (Valid Inputs)
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_add.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_mul.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_pairing.rs
  bus-mapping/src/evm/opcodes/precompiles/ecrecover.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/precompile.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/ecc_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#653 fix some testcases in testool related to copy table
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#670 Feat: proof aggregation
  aggregator/Cargo.toml
  aggregator/README.md
  aggregator/figures/architecture.jpg
  aggregator/figures/architecture.png
  aggregator/figures/hash_table.jpg
  aggregator/figures/hashes.jpg
  aggregator/src/aggregation.rs
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/aggregation/rlc.rs
  aggregator/src/aggregation/rlc/config.rs
  aggregator/src/aggregation/rlc/gates.rs
  aggregator/src/batch.rs
  aggregator/src/chunk.rs
  aggregator/src/compression/circuit.rs
  aggregator/src/compression/circuit_ext.rs
  aggregator/src/constants.rs
  aggregator/src/core.rs
  aggregator/src/lib.rs
  aggregator/src/param.rs
  aggregator/src/tests.rs
  aggregator/src/tests/aggregation.rs
  aggregator/src/tests/compression.rs
  aggregator/src/tests/mock_chunk.rs
  aggregator/src/tests/mock_chunk/circuit.rs
  aggregator/src/tests/mock_chunk/circuit_ext.rs
  aggregator/src/tests/mock_chunk/config.rs
  aggregator/src/tests/rlc.rs
  aggregator/src/tests/rlc/dynamic_hashes.rs
  aggregator/src/tests/rlc/gates.rs
  aggregator/src/util.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits
