Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-08, with the labels that each got.

#520 [feat] Precompile MODEXP
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/evm/opcodes/precompiles/modexp.rs
  bus-mapping/src/precompile.rs
  eth-types/src/lib.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/binary_number.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/modexp_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#669 feat: refactor sig_circuit and ecc_circuit row capacity estimation
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/ecc_circuit/util.rs
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/utils.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits

#684 full implementation of PUSHn
  zkevm-circuits/src/evm_circuit/execution/push.rs
Labels: crate-zkevm-circuits

#667 [feat] Update mpt and poseidon circuit with new hash scheme
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/util.rs
  eth-types/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/table.rs
  zktrie/Cargo.toml
  zktrie/src/state/builder.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#694 [feat] unify u8 u16 lookup table
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/rlp_circuit_fsm/dev.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
Labels: crate-zkevm-circuits

#700 [opt] reduce the cost of min_num_rows_block in poseidon_circuit
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#703 speedup ci using verify_at_rows
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/tx_circuit/test.rs
Labels: crate-zkevm-circuits

#695 update super circuit row estimation API
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/tests/prover_error.rs
Labels: crate-zkevm-circuits

#710 Fix: lost tx_type when doing type conversion
  bus-mapping/src/circuit_input_builder/transaction.rs
  eth-types/src/geth_types.rs
Labels: crate-bus-mapping, crate-eth-types

#708 fix condition
  zkevm-circuits/src/evm_circuit/execution/push.rs
Labels: crate-zkevm-circuits

#716 fix: min_num_rows_block of pi_circuit
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#705 `ModExp` gas costs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/byte_size.rs
Labels: crate-zkevm-circuits, crate-eth-types

#717 misc fix for mainnet
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  eth-types/src/lib.rs
  integration-tests/Cargo.toml
  integration-tests/tests/mainnet.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/call.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-eth-types

#722 Feat: update the configuration params for sig circuit as we increase max_num_sig to be greater than 100
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/test.rs
  zkevm-circuits/src/sig_circuit/utils.rs
Labels: crate-zkevm-circuits

#724 fix returndatacopy len
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  integration-tests/tests/mainnet.rs
Labels: crate-bus-mapping, crate-integration-tests

#725 Fix: sig circuit's capacity checker does not take account of ecrecover precompile
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, capacity-checker

#714 [Fix] Set l1fee to zero for l1msg
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#723 `LastCalleeReturnDataLength` value for precompile calls
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_add.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#729 [Fix] caller account not exist in l1msg
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/state_db.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_msg.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#727 add create2 deploy to non-zero balance address test
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#731 fix sender_nonce vs tx_nonce handling inside begin tx
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#690 fix LtChip range check
  gadgets/src/comparator.rs
  gadgets/src/less_than.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/rlp_circuit_fsm/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
Labels: crate-zkevm-circuits, crate-gadgets

#696 Gas Cost Checks for Precompile Calls
  bus-mapping/src/evm/opcodes/callop.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_exp.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_add.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/byte_size.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#741 Fix codehash phase; fix l1 tx nonce
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits

#718 ZELLIC-ZK1-1: fix typo in multiplied terms
  gadgets/src/mul_add.rs
Labels: crate-gadgets

#624 Fix zellic & kalos finding 28
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits, audit-fix

#623 Fix zellic / kalos finding 29
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#735 Fix finding 26 part 2
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#733 Fix finding 30
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#619 Fix Zellic / Kalos finding25
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#747 Rename end_offset
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_create.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_dynamic_memory.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sha3.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-zkevm-circuits

#750 fix ec recover
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#753 fix calldatasize inside create
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#755 Fix `ecrecover` implementation
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#738 Under-constrained parity-check gadget in `ExpCircuit`
  zkevm-circuits/src/exp_circuit.rs
Labels: crate-zkevm-circuits

#756 `EccCircuit` (related to `EcPairing`) multiple fixes
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_pairing.rs
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#740 [refactor] using rws step for callop/create/return_revert/sha3
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#746 [Feat]l2 geth util: use l2geth to generate exec trace for unittest
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/gasprice.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/geth_errors.rs
  eth-types/src/evm_types/opcode_ids.rs
  eth-types/src/evm_types/stack.rs
  eth-types/src/geth_types.rs
  eth-types/src/lib.rs
  geth-utils/build.rs
  geth-utils/go.mod
  geth-utils/l2geth/asm.go
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  geth-utils/l2geth/lib.go
  geth-utils/l2geth/trace.go
  geth-utils/l2geth/util.go
  geth-utils/scroll.mod
  geth-utils/scroll.sum
  geth-utils/src/lib.rs
  mock/src/lib.rs
  mock/src/test_ctx.rs
  zkevm-circuits/src/evm_circuit/execution/block_ctx.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/gasprice.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-geth-utils, crate-mock

#734 [refactor] extract From/To Gadget
  Cargo.lock
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#760 Release v0.5.x allow skip l1msg
  Cargo.lock
  aggregator/Cargo.toml
  aggregator/src/chunk.rs
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#709 fix TOB-SCROLL-6: replace debug_assert
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-zkevm-circuits

#681 fix ZELLIC-ZK1-7: Bytecode Tag should be constrained to a boolean in BytecodeCircuit
  zkevm-circuits/src/bytecode_circuit/circuit.rs
Labels: crate-zkevm-circuits

#761 upgrade halo2 to better detect phase bug
  Cargo.lock
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-zkevm-circuits

#661 fix TOB-SCROLL-14
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#751 fix TOB-SCROLL2-8 The Invalid Creation error handling circuit is unconstrained
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
Labels: crate-zkevm-circuits

#633 fix TOB-SCROLL-13： fix unconstrained opcodes allow nondeterministic execution
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-zkevm-circuits

#762 [feat] add constraint annotations api
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/byte.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_inner_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/is_zero.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/mul_div_mod.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/sar.rs
  zkevm-circuits/src/evm_circuit/execution/sdiv_smod.rs
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_msg.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/comparison.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_equal.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/is_zero.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/modulo.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
Labels: crate-zkevm-circuits

#736 return_revert: Enforce REVERT reversions
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-zkevm-circuits

#763 [fix] l1fee of end_tx
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#769 [fix] end_tx when handle l1fee oracle update tx
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/operation.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#773 [fix] fix tx fee in end_tx
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
Labels: crate-zkevm-circuits

#719 Fix finding 11 : use length for rlc in rlp table
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/rlp_fsm.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits

#770 RETURN_REVERT: constrain not success when revert
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-zkevm-circuits

#774 refactor callop: rwc & gas
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_add.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#685 fix ZELLIC-ZK1-4 Missing range checks in MulAdd chip
  eth-types/src/lib.rs
  gadgets/src/lib.rs
  gadgets/src/mul_add.rs
  gadgets/src/range.rs
  gadgets/src/util.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/exp_circuit/dev.rs
  zkevm-circuits/src/exp_circuit/param.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits, crate-gadgets, crate-eth-types

#778 Fix: allow skipping of L1Msg tx part 2 (calculate num_all_txs in tx circuit)
  circuit-benchmarks/src/tx_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/param.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, crate-circuit-benchmarks, T-bench

#612 Fix the bugs in Tx & PI circuits reported by Zellic & KALOS auditors
  eth-types/src/geth_types.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits, crate-eth-types, audit-fix

#572 Fix the bugs in RLP/Tx/PI circuit which are reported by Zellic & KALOS auditors
  eth-types/src/geth_types.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/l1_msg.rs
  zkevm-circuits/src/witness/rlp_fsm.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits, crate-eth-types, audit-fix

#781 Assert pk is on curve (`Sig Circuit`)
  zkevm-circuits/src/sig_circuit.rs
Labels: crate-zkevm-circuits

#752 refactor: remove keccak constants from aggregator
  aggregator/src/aggregation/config.rs
  aggregator/src/constants.rs
  aggregator/src/core.rs
  aggregator/src/tests/rlc/dynamic_hashes.rs
  aggregator/src/util.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/param.rs
  zkevm-circuits/src/keccak_circuit/test.rs
Labels: crate-zkevm-circuits

#783 [fix] incorrect rw calc of transfer
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-zkevm-circuits

#785 [fix] testool case empty calldata
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-zkevm-circuits

#786 testool: fix to set `is_call` to calculate gas cost in error-oog-call gadget
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
Labels: crate-zkevm-circuits

#788 fix stack err for return revert
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
Labels: crate-bus-mapping

#787 Fix test tool test: call precompile with insufficient balance
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-zkevm-circuits

#789 fix: must not use next tx's tlpb to assign cur tx's tlpb
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#790 Fix: constraint on num_all_txs_acc' is wrong
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#797 refactor return data
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#796 [FIX] incorrect assignment of is_zero in gas cost gadget of modexp
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
Labels: crate-zkevm-circuits

#802 test tool: fix first byte
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
Labels: crate-zkevm-circuits

#798 (1) testool: use cache skip success cases (2) testool enable parallel compilation (3) fix many corner cases
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/returndatasize.rs
  bus-mapping/src/evm/opcodes/stop.rs
  testool/Cargo.toml
  testool/Config.toml
  testool/src/compiler.rs
  testool/src/config.rs
  testool/src/main.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/json.rs
  testool/src/statetest/parse.rs
  testool/src/statetest/results.rs
  testool/src/statetest/suite.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#808 Pick PR#807
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/rlp_fsm.rs
Labels: crate-zkevm-circuits

#793 fix test tool create collision tests
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#809 Remove CopyDataType::Precompile
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#810 fix blockhash in test tool
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
Labels: crate-zkevm-circuits

#817 v0.7.3: fix RETURNDATASIZE error
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/returndatasize.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  testool/src/compiler.rs
Labels: crate-bus-mapping

#819 more strict check on Account Rw
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/precompile.rs
  bus-mapping/src/state_db.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#767 [Feat] make supercircuit test applying l2trace
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/error.rs
  bus-mapping/src/lib.rs
  circuit-benchmarks/src/super_circuit.rs
  eth-types/src/geth_types.rs
  eth-types/src/l2_types.rs
  eth-types/src/lib.rs
  external-tracer/src/lib.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  geth-utils/l2geth/trace.go
  geth-utils/src/lib.rs
  mock/src/block.rs
  mock/src/test_ctx.rs
  mock/src/transaction.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/super_circuit/test.rs
  zktrie/Cargo.toml
  zktrie/src/state.rs
  zktrie/src/state/builder.rs
  zktrie/src/state/test.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-eth-types, crate-geth-utils, crate-external-tracer, crate-mock

#821 fix: clear return data for errors
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#826 fix code_size in create; fix return_data for call oog
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/state_db.rs
  integration-tests/Cargo.toml
Labels: crate-bus-mapping, crate-integration-tests

#827 Feat: enforce gas_cost for precompiles called with invalid inputs
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_add.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
Labels: crate-zkevm-circuits

#828 respect tx_num limit in ccc
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#822 scroll mode for testool
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/precompile.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  testool/run.sh
  testool/src/main.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/json.rs
  testool/src/statetest/mod.rs
  testool/src/statetest/results.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/Cargo.toml
Labels: crate-bus-mapping, crate-geth-utils

#831 improve testool for scroll mode
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/util.rs
  external-tracer/src/lib.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  testool/src/statetest/executor.rs
  testool/src/statetest/spec.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/super_circuit/test.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-geth-utils, crate-external-tracer

#833 fix CallContextField::GasLeft
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
Labels: crate-bus-mapping

#811 Handle precompile call failure `call.is_success == false` due to "Invalid Inputs" and "Insufficient Gas"
  Cargo.lock
  aggregator/Cargo.toml
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/error_oog_precompile.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_pairing.rs
  bus-mapping/src/precompile.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/ecc_circuit.rs
  zkevm-circuits/src/ecc_circuit/test.rs
  zkevm-circuits/src/ecc_circuit/util.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_add.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#838 Simplify exp lookup
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/exp.rs
  docs/EVM_Circuit.md
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#839 testool: enable stZeroKnowledge tests
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/precompile.rs
  bus-mapping/src/state_db.rs
  external-tracer/src/lib.rs
  testool/Config.toml
  testool/codehash.txt
  testool/run.sh
  testool/src/statetest/executor.rs
  testool/src/statetest/json.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  zktrie/src/state.rs
Labels: crate-bus-mapping, crate-external-tracer

#830 upgrade "misc-precompiled-circuits" and handle modexp invalid len in bus-mapping
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/modexp_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#841 testool: support sub circuit; fix modexp row usage
  bus-mapping/src/precompile.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/modexp_circuit.rs
  zkevm-circuits/src/modexp_circuit/dev.rs
  zkevm-circuits/src/modexp_circuit/test.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#844 Fix: gas cost of ec_pairing precompile
  Cargo.lock
  bus-mapping/Cargo.toml
Labels: crate-bus-mapping

#847 Fix: precompile oog with large calldata_length
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
Labels: crate-zkevm-circuits

#849 Fix: n_padded_zeroes must be less than 192.
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
Labels: crate-zkevm-circuits

#848 Precompile (non-static) calls with (non-zero) value
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#837 fix-exp-is-last: enforce the secure termination of Exp circuit
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/exp.rs
  docs/EVM_Circuit.md
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#851 upgrade mpt circuit; some other minor changes
  Cargo.lock
  testool/src/statetest/executor.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/pi_circuit.rs
  zktrie/Cargo.toml
Labels: crate-zkevm-circuits

#852 Fix/rws limit early stop
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/address.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/calldatasize.rs
  bus-mapping/src/evm/opcodes/caller.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/callvalue.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_oog_account_access.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/evm/opcodes/error_oog_log.rs
  bus-mapping/src/evm/opcodes/error_oog_memory_copy.rs
  bus-mapping/src/evm/opcodes/error_oog_precompile.rs
  bus-mapping/src/evm/opcodes/error_oog_sload_sstore.rs
  bus-mapping/src/evm/opcodes/error_precompile_failed.rs
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  bus-mapping/src/evm/opcodes/error_write_protection.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  bus-mapping/src/evm/opcodes/gasprice.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/origin.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/returndatasize.rs
  bus-mapping/src/evm/opcodes/selfbalance.rs
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  bus-mapping/src/evm/opcodes/stop.rs
  zktrie/Cargo.toml
Labels: crate-bus-mapping

#853 feat(testool): use list to filter tests; upgrade revm to fix modexp gas cost
  Cargo.lock
  bus-mapping/Cargo.toml
  testool/Cargo.toml
  testool/src/main.rs
  testool/src/statetest/executor.rs
Labels: crate-bus-mapping

#854 test self_destruct for oog &basefee expected invalid opcode
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
Labels: crate-zkevm-circuits

#855 Reversion from Precompile calls (even from begin_tx)
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_codestore.rs
  bus-mapping/src/evm/opcodes/error_invalid_creation_code.rs
  bus-mapping/src/evm/opcodes/error_invalid_jump.rs
  bus-mapping/src/evm/opcodes/error_oog_account_access.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/evm/opcodes/error_oog_log.rs
  bus-mapping/src/evm/opcodes/error_oog_memory_copy.rs
  bus-mapping/src/evm/opcodes/error_oog_sload_sstore.rs
  bus-mapping/src/evm/opcodes/error_precompile_failed.rs
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  bus-mapping/src/evm/opcodes/error_write_protection.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/evm/opcodes/stop.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#858 Fix: witness gen panic in modexp
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
Labels: crate-zkevm-circuits

#859 Clean mod exp codes
  bus-mapping/src/precompile.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-geth-utils

#861 add modexp all zeros test
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/modexp_circuit/test.rs
Labels: crate-zkevm-circuits

#824 pi circuit: add sanity check for state_root/coinbase/difficulty
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/test.rs
Labels: crate-zkevm-circuits

#856 Fix: post state check should fail for hash precompile tests
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/precompile.rs
  external-tracer/src/lib.rs
  geth-utils/l2geth/trace.go
  testool/Config.toml
  testool/run.sh
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-geth-utils, crate-external-tracer

#864 fix pi circuit env var reading
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  integration-tests/tests/mainnet.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-integration-tests, crate-zkevm-circuits, crate-geth-utils

#865 fix(ecMul): handle case for P == -R
  bus-mapping/src/circuit_input_builder/execution.rs
  zkevm-circuits/src/ecc_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
Labels: crate-bus-mapping, crate-zkevm-circuits
