Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-04, with the labels that each got.

#437 clean some outdated feature flag
  Cargo.toml
  rustfmt.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
Labels: crate-zkevm-circuits

#439 Refactor/code hash
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-zkevm-circuits

#406 handle address collision in create
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#441 Salt field popped from stack should be RLC with EVM word input
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
Labels: crate-zkevm-circuits

#426 Circuit for oog account access error
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_account_access.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_account_access.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#445 sync dual code hash branch part3
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/operation.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#443 Make CREATE/CREATE2 compatible with dual code hash changes.
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#450 Copy circuit degree fix
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits

#449 fix step.gas assignment in oog
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
Labels: crate-zkevm-circuits

#451 fix: codehash equality or codehash zero
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
Labels: crate-zkevm-circuits

#438 unify l1-evm codes and l2-evm codes; add ci for both
  .github/ciChecksScripts/wakeUpRunner.sh
  .github/workflows/ci.yml
  .github/workflows/select-runner.yml
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI

#453 Insufficient caller balance (CREATE/CREATE2)
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/state_db.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#454 changes needed for snark verifier
  Cargo.lock
  Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zktrie/Cargo.toml
  zktrie/src/state/builder.rs
  zktrie/src/state/witness.rs
Labels: crate-zkevm-circuits

#442 Implement circuit for `ErrorGasUintOverflow` state
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  mock/src/lib.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_create2.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_dynamic_memory.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sha3.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock

#459 Tmp fix ci
  .github/workflows/ci.yml
  .github/workflows/lints.yml
  Makefile
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/mock.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, CI

#461 Upgrade poseidon circuit to 'septidon'
  Cargo.lock
  bus-mapping/Cargo.toml
  eth-types/Cargo.toml
  zktrie/Cargo.toml
Labels: crate-bus-mapping, crate-eth-types

#460 [fix] program counter could larger than code size
  zkevm-circuits/src/evm_circuit/execution/stop.rs
Labels: crate-zkevm-circuits

#463 Disable `SELFDESTRUCT` for feature `scroll`
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  eth-types/Cargo.toml
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#465 fix keccak/bytecode advice lookup
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/dev.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits

#470 Add `DepthError` for mapping error depth, and comment out dummy gadget for feature scroll
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#471 fix advice lookup
  Cargo.lock
  gadgets/src/binary_number.rs
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/rlp_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits, crate-gadgets

#472 Fix testool cases and update `testool`
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  testool/Cargo.toml
  testool/src/statetest/executor.rs
  testool/src/statetest/results.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#481 test: enable heavy test to ci
  .github/workflows/ci.yml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/super_circuit/test.rs
Labels: crate-zkevm-circuits, CI

#479 refactor precompile testcase
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#483 [refactor] using revm_precompile
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/precompile.rs
Labels: crate-bus-mapping

#487 [fix] ecdsa sig_is_valid bug
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits

#492 [Feat]Induce copy constraint for phase2 cell
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
Labels: crate-zkevm-circuits

#494 Sync 0427
  circuit-benchmarks/src/bytecode_circuit.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/exp_circuit/test.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/keccak_circuit/param.rs
  zkevm-circuits/src/keccak_circuit/test.rs
  zkevm-circuits/src/keccak_circuit/util.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, crate-circuit-benchmarks, T-bench
