Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-01, with the labels that each got.

#238 Public Inputs Circuit
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  circuit-benchmarks/src/pi_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  eth-types/src/geth_types.rs
  eth-types/src/sign_types.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/circuits.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-eth-types

#240 CI: update to use self-hosted runner
  .github/ciChecksScripts/wakeUpRunner.sh
  .github/proverCiScripts/shutdownProver.sh
  .github/proverCiScripts/wakeUpProver.sh
  .github/workflows/ci.yml
  .github/workflows/draft.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
  .github/workflows/select-runner.yml
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, CI

#243 Fix/rlp data prefix
  zkevm-circuits/src/rlp_circuit.rs
  zkevm-circuits/src/witness/rlp_encode/common.rs
Labels: crate-zkevm-circuits

#237 add precompile
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/precompile.rs
  bus-mapping/src/state_db.rs
  eth-types/src/evm_types/memory.rs
  eth-types/src/sign_types.rs
  integration-tests/src/bin/gen_blockchain_data.rs
  rust-toolchain
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-eth-types

#244 fix circuits for precompile; re-enable all state circuit constraints
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/returndatasize.rs
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#220 Tx Circuit
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  eth-types/src/geth_types.rs
  eth-types/src/sign_types.rs
  mock/src/transaction.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/rlp_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/rlp_encode/common.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-mock

#245 CI: fix Cargo cache conflict
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#247 Feat/scroll create
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#249 CI: fix to also `chown` for Go cache folders
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#251 CI: delete previous cached Go folder to fix conflict in CI
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#253 Skip caller_address check for non-legacy tx
  bus-mapping/src/circuit_input_builder.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#255 Bug-fix: make the tx circuit universal universal
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#261 bug-fix: phase check of cols in tx circuit
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#264 fix to parallel run `callop_simple` test
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-zkevm-circuits

#265 CI: integrate `skip-duplicate-actions`
  .github/workflows/ci.yml
  .github/workflows/lints.yml
Labels: CI

#267 Feat: speed up the witness assignment of RLP/Tx circuits
  Cargo.lock
  circuit-benchmarks/Cargo.toml
  circuit-benchmarks/src/tx_circuit.rs
  gadgets/src/is_zero.rs
Labels: crate-circuit-benchmarks, T-bench, crate-gadgets

#277 fix some non exist account lookup; dedup keccak inputs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#278 CI: add timeout for action cache
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#270 Feat: include state roots in PI circuit
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/mock.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-zkevm-circuits
