Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-05, with the labels that each got.

#496 Merge upstream u64-overflow PR back to develop
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-zkevm-circuits

#497 Support shanghai in geth tracer
  bus-mapping/Cargo.toml
  external-tracer/src/lib.rs
  geth-utils/gethutil/trace.go
  geth-utils/go.mod
  geth-utils/go.sum
  mock/Cargo.toml
  mock/src/test_ctx.rs
  testool/Cargo.toml
  testool/src/statetest/executor.rs
  zkevm-circuits/Cargo.toml
Labels: crate-bus-mapping, crate-geth-utils, crate-external-tracer, crate-mock

#485 [memory-opt] fix test case `test_precompiled_call` in CALL OP
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#500 Support EIP-3651 (Warm COINBASE) with `shanghai` feature
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#501 [feat] add copy circuit test
  Cargo.lock
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits

#484 [Feat] Withdraw root constraint
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/l2_predeployed.rs
  bus-mapping/src/lib.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#302 more accurate ecmul
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits

#502 feat: sealer api
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/sload.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
  zktrie/src/state.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#404 print rw usage in bus mapping
  bus-mapping/src/circuit_input_builder.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#507 Support EIP-3860 (Limit and meter initcode) for Shanghai
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_dynamic_memory.rs
  circuit-benchmarks/src/bytecode_circuit.rs
  eth-types/Cargo.toml
  eth-types/src/evm_types.rs
  mock/Cargo.toml
  testool/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_create.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_create2.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_dynamic_memory.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-eth-types, crate-mock

#499 feat: transaction L1 fee constraints
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/l2_predeployed.rs
  eth-types/src/evm_types/gas_utils.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#510 Support EIP-3855 (PUSH0 instruction) for Shanghai
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  eth-types/src/bytecode.rs
  eth-types/src/evm_types/opcode_ids.rs
  geth-utils/gethutil/asm.go
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/bytecode.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#508 [Fix] padding_shift underconstrainted in bytecode_circuit
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
Labels: crate-zkevm-circuits

#516 [WIP] Fix circuit condition of copy lookup for `precompile -> callee memory` as bus-mapping
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-zkevm-circuits

#519 [chore] Expose keccak circuit config
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/cell_manager.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
Labels: crate-zkevm-circuits
