Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-12, with the labels that each got.

#1032 [FEAT] precompile-sha256
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/precompile.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/sha256.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/sha256_circuit.rs
  zkevm-circuits/src/sha256_circuit/README.md
  zkevm-circuits/src/sha256_circuit/circuit.rs
  zkevm-circuits/src/sha256_circuit/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/precompile_block_trace.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-geth-utils

#1049 [Fix] precompile-sha256 fmt issue
  zkevm-circuits/src/sha256_circuit/circuit.rs
Labels: crate-zkevm-circuits

#1056 Fix all dep/compliation issues in Sync ff 0.13
  Cargo.lock
  Cargo.toml
  eth-types/src/lib.rs
  gadgets/src/evm_word.rs
  gadgets/src/monotone.rs
  zktrie/Cargo.toml
Labels: crate-gadgets, crate-eth-types

#1058 feat: implement access list address and storage key lookups in copy circuit (EIP-2930)
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  eth-types/src/lib.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1039 [feat] impl arithmetic/environment opcodes
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/arithmetic.rs
  bus-mapping/src/evm/opcodes/environment.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
  bus-mapping/src/lib.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1055 bug: fix callee address of hi-lo in CALL OP (for testool cases)
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#1062 fix test tool assign overflow of create
  zkevm-circuits/src/evm_circuit/execution/create.rs
Labels: crate-zkevm-circuits

#1067 Feat: parallelize mpt table loading
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits
