Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-02, with the labels that each got.

#281 CI: add `SECRET_REPO_DEPLOY_KEY` for private crates
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#284 disable state root connection pi<->state; allow codehash 0->keccak(ni…
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/mpt.rs
  zktrie/src/state.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#282 FEAT: use halo2-ecc's ecdsa implementation [Ready for review]
  Cargo.lock
  Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits

#287 many fixes after sync upstream
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.lock
  bus-mapping/src/lib.rs
  bus-mapping/src/util.rs
  integration-tests/Cargo.toml
  integration-tests/tests/mainnet.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/rlp_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, CI

#290 upgrade halo2
  Cargo.lock
  Cargo.toml
  eth-types/Cargo.toml
  gadgets/src/batched_is_zero.rs
  gadgets/src/evm_word.rs
  gadgets/src/monotone.rs
  gadgets/src/mul_add.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/util.rs
  zktrie/Cargo.toml
Labels: crate-zkevm-circuits, crate-gadgets, crate-eth-types

#263 handle tx creation in begin_tx
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/binary_number.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/byte_size.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#288 OOG error Circuit for `SLOAD` and `SSTORE`
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_sload_sstore.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#293 scroll-stable-rebase: add OOG error handling for `CALLCODE`, `DELEGATECALL` and `STATICCALL` to `ErrorOOGCall`
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#294 scroll-stable-rebase: Circuit for `ErrorInvalidOpcode` state
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_invalid_jump.rs
  bus-mapping/src/evm/opcodes/error_invalid_opcode.rs
  eth-types/src/evm_types/opcode_ids.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
  zkevm-circuits/src/evm_circuit/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#297 add RwMap::check_value
  integration-tests/src/lib.rs
  integration-tests/tests/mainnet.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-integration-tests, crate-zkevm-circuits

#298 [bug fix] fix ecdsa witness gen bug
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits

#299 add oog log error circuit
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#300 make ecdsa public
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits

#301 Handle all `Precompile` errors to unimplemented
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#303 Sync OOG Call update from upstream
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#291 feat: poseidon circuit and poseidon bytecode circuit
  Cargo.lock
  Cargo.toml
  eth-types/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/bytecode_circuit/dev.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zktrie/Cargo.toml
  zktrie/src/lib.rs
  zktrie/src/state/builder.rs
Labels: crate-zkevm-circuits, crate-eth-types

#306 add precompile for begin-tx
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#312 fix standalone circuit's issue
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
Labels: crate-zkevm-circuits

#311 Sync small fixes of merging `ErrorInvalidOpcode` in upstream
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_invalid_opcode.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#308 keccak-rlc-phase2: compute input RLC in the second phase
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
Labels: crate-zkevm-circuits

#317 fix testool
  Cargo.lock
  Cargo.toml
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  testool/Cargo.toml
  testool/Config.toml
  testool/src/compiler.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/parse.rs
  testool/src/statetest/yaml.rs
  testool/src/utils.rs
Labels: crate-bus-mapping

#316 Refactor RLP logic into RLP Create Gadget
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/rlp_circuit.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/receipt.rs
  zkevm-circuits/src/witness/rlp_encode/receipt.rs
  zkevm-circuits/src/witness/rlp_encode/tx.rs
  zkevm-circuits/src/witness/rlp_encode/witness_gen.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits

#319 Temporary fix: poseidon circuit
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/poseidon_circuit.rs
Labels: crate-zkevm-circuits

#330 fix tx circuit with 0 txs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#331 fix/disable-root-circuit-tests: ignore tests that are not supported
  Cargo.lock
  zkevm-circuits/src/root_circuit/aggregation.rs
Labels: crate-zkevm-circuits

#324 Only stack operations of bus-mapping and circuit for execution state `ErrorPrecompileFailed`
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_precompile_failed.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#321 many fixes for compatibility
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_precompile_failed.rs
  bus-mapping/src/evm/opcodes/extcodehash.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/state_db.rs
  bus-mapping/src/util.rs
  external-tracer/src/lib.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-external-tracer

#336 fix: restrict `block_number == current_block_number - 1` in `BlockHashGadget` (for scroll)
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
Labels: crate-zkevm-circuits

#335 fix/keccak-decode-overflow: calculate with bitshifts in u64
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
Labels: crate-zkevm-circuits

#334 modify pi circuit to be compatible with bridge contract
  bus-mapping/src/circuit_input_builder.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#341 CI: replace to Rust smart cache
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#346 sync-halo2-5689a747: explicit type unsafety in tests
  Cargo.lock
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-zkevm-circuits

#326 test/keccak-normalize-table: unittest for lookup tables
  zkevm-circuits/src/keccak_circuit/table.rs
  zkevm-circuits/src/keccak_circuit/util.rs
Labels: crate-zkevm-circuits

#345 Fix/ecdsa err Fix #344
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits

#327 add oog static memory
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#348 Fix `fee` to not reversible in begin tx
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#360 fixing testool
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  eth-types/src/evm_types/memory.rs
  external-tracer/Cargo.toml
  external-tracer/src/lib.rs
  testool/src/statetest/results.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_exp.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_static_memory.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-external-tracer

#353 Bug-fix: handle tx.to = 0x0 correctly
  bus-mapping/src/circuit_input_builder.rs
  mock/src/transaction.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/rlp_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/rlp_encode/common.rs
  zkevm-circuits/src/witness/rlp_encode/tx.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-mock

#362 CI: fix failed workflows for forked repositories
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#361 fix: minor typos
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/state_db.rs
  eth-types/src/bytecode.rs
  eth-types/src/error.rs
  eth-types/src/evm_types.rs
  eth-types/src/lib.rs
  keccak256/src/arith_helpers.rs
  testool/src/main.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/mul_add_words512.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/root_circuit/aggregation.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-keccak, crate-eth-types

#363 many fixes for testool
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/json.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-bus-mapping, crate-zkevm-circuits
