Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-03, with the labels that each got.

#304 circuit for create error: oog code store & max code size exceed
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_codestore.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#368 Implement circuit for `ErrorOutOfGasMemoryCopy` state
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_memory_copy.rs
  eth-types/src/evm_types/gas_utils.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#370 Bug: fix to handle successful run when Uint64 overflow in `BLOCKHASH`, `CALLDATACOPY`, `CALLDATALOAD`, `CODECOPY` and `EXTCODECOPY`
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#381 sync diff with upstream's code store error
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/error_codestore.rs
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#382 Bug: fix for `JUMPI` successful run case with zero `condition` and overflow `destination`
  .cargo/config.toml
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
Labels: crate-zkevm-circuits

#380 Fix: update according to previous comment of Uint64 overflow PR
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  eth-types/src/evm_types/memory.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#384 fix some return revert problem
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#385 fix empty create
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#386 dummy err gadget: GasUintOverflow, NonceUintOverflow, ContractAddressCollision
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#387 CI: change host user for self-runner
  .github/proverCiScripts/benchmarks_result_reporting/reporting_main.py
  .github/proverCiScripts/benchmarks_result_reporting/reporting_modules.py
  .github/proverCiScripts/deployToProver.sh
  .github/proverCiScripts/execBench.sh
  .github/proverCiScripts/getSysstat.sh
  .github/proverCiScripts/injectHalo2Revision.sh
  .github/proverCiScripts/prepareProver.sh
  .github/proverCiScripts/processResults.sh
  .github/proverCiScripts/wakeUpProver.sh
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/lints.yml
Labels: CI

#389 Bug: fix to support overflow memory start and zero memory size in `LOG` opcodes
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/logs.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#388 fix oog_memory_copy
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_contract_address_collision.rs
  testool/codehash.txt
  testool/src/main.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/results.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_dynamic_memory.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#393 Bug: fix to truncate memory offset of Word to Uint64 when memory length is zero
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  eth-types/src/evm_types/memory.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#396 dummy OOG(CREATE2)
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/create.rs
Labels: crate-bus-mapping

#397 improve selfdestruct; upgrade precompile crate
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/error_precompile_failed.rs
  bus-mapping/src/state_db.rs
  geth-utils/evm.patch
  testool/Config.toml
  testool/src/statetest/executor.rs
Labels: crate-bus-mapping, crate-geth-utils

#400 Bug: fix to enable `gas_is_u64` for failed Calls
  zkevm-circuits/src/evm_circuit/execution/error_oog_call.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#405 Bug: fix overflow cases of `ErrorReturnDataOutOfBound`
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#407 Fix wrong stack pointer range for error stack state
  eth-types/src/evm_types/opcode_ids.rs
Labels: crate-eth-types

#408 calldata zeros assigned twice in tx table and circuit
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#371 Fix leftover issues in pi/tx circuits
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits

#413 error depth stable
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#418 fix: delete execution state `ErrorOutOfGasEXTCODECOPY`
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/step.rs
Labels: crate-zkevm-circuits

#419 Implement circuit for `ErrorOutOfGasSHA3` state
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_sha3.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/gas_utils.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sha3.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#422 add invalid creation code circuit
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#425 Separate `BlockHash` assignments for scroll and non-scroll
  Makefile
  eth-types/src/evm_types.rs
  mock/src/test_ctx.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, crate-eth-types, crate-mock

#428 sync ecdsa circuit with halo2-lib stable branch
  Cargo.lock
  Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/sign_verify.rs
Labels: crate-zkevm-circuits, crate-eth-types

#431 fix: merge some errors to `StackOnlyOpcode` in bus-mapping
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_exp.rs
  bus-mapping/src/evm/opcodes/error_oog_sha3.rs
  bus-mapping/src/evm/opcodes/error_oog_static_memory.rs
  bus-mapping/src/evm/opcodes/error_simple.rs
  bus-mapping/src/evm/opcodes/stackonlyop.rs
Labels: crate-bus-mapping

#430 [Fix] Witness generator in zktrie touch non-existed address unexpectly
  zkevm-circuits/src/witness/mpt.rs
  zktrie/src/state/builder.rs
  zktrie/src/state/witness.rs
Labels: crate-zkevm-circuits

#424 Oog create2
  bus-mapping/src/evm/opcodes.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_create2.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#420 Use code_hash instead of poseidon_code_hash
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/error_oog_call.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/state_db.rs
  bus-mapping/src/util.rs
  rustfmt.toml
  testool/src/statetest/executor.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/rw.rs
  zktrie/src/state.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#432 fix is_warm in sload/store not constrained
  bus-mapping/src/evm/opcodes/sload.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#435 sync codes from dual code hash branch(part1/N)
  Cargo.lock
  Cargo.toml
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/state_db.rs
  bus-mapping/src/util.rs
  eth-types/Cargo.toml
  eth-types/src/lib.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/util.rs
  zktrie/Cargo.toml
  zktrie/src/state.rs
  zktrie/src/state/builder.rs
  zktrie/src/state/test.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#436 disable one phase by default; remove substrate dep
  Cargo.lock
  bus-mapping/Cargo.toml
  zkevm-circuits/Cargo.toml
Labels: crate-bus-mapping
