Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-06, with the labels that each got.

#506 [feat] returndatacopy implemented
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#524 TOB-SCROLL-5: additional assertions
  zkevm-circuits/src/evm_circuit/util/math_gadget/constant_division.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/lt.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/range_check.rs
Labels: crate-zkevm-circuits

#514 Feat: identity precompile
  Cargo.lock
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/precompile.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/call.rs
  zkevm-circuits/src/witness/step.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#528 feat: refactor rlp circuit and tx circuit to support more tx types
  Cargo.lock
  Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  circuit-benchmarks/src/super_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
  eth-types/src/geth_types.rs
  integration-tests/src/integration_test_circuits.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/mainnet.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/table.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/rlp_circuit.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/rlp_circuit_fsm/dev.rs
  zkevm-circuits/src/rlp_circuit_fsm/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/util/is_zero.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/l1_msg.rs
  zkevm-circuits/src/witness/rlp_encode.rs
  zkevm-circuits/src/witness/rlp_encode/common.rs
  zkevm-circuits/src/witness/rlp_encode/receipt.rs
  zkevm-circuits/src/witness/rlp_encode/tx.rs
  zkevm-circuits/src/witness/rlp_encode/witness_gen.rs
  zkevm-circuits/src/witness/rlp_fsm.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-eth-types

#537 Update `BLOCKHASH` output as `keccak(chain_id || block_number)`
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/blockhash.rs
  circuit-benchmarks/Cargo.toml
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/block_utils.rs
  external-tracer/Cargo.toml
  geth-utils/Cargo.toml
  geth-utils/build.rs
  geth-utils/scroll.mod
  geth-utils/scroll.sum
  integration-tests/Cargo.toml
  mock/Cargo.toml
  testool/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-eth-types, crate-geth-utils, crate-external-tracer, crate-mock

#533 memory_opt_opcodes: constraints for MLOAD/MSTORE/MSTORE8/CALLDATALOAD
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#539 test: copy circuit precompile call (identity)
  zkevm-circuits/src/copy_circuit/test.rs
Labels: crate-zkevm-circuits

#543 [fix] soundness bug in ctr int
  Cargo.lock
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/utils.rs
Labels: crate-zkevm-circuits

#546 Feat: assert v is odd
  eth-types/src/sign_types.rs
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/test.rs
Labels: crate-zkevm-circuits, crate-eth-types

#536 Set empty keccak codehash when account comes into existence
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#542 Refactor SigCircuit Witness Assignment
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/utils.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits

#550 Fix compile issues
  Cargo.lock
  bus-mapping/Cargo.toml
  eth-types/Cargo.toml
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/table.rs
  zktrie/Cargo.toml
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#551 Lookup mpt table entries in mpt circuit
  zkevm-circuits/src/mpt_circuit.rs
Labels: crate-zkevm-circuits

#547 [memory_opt] fix failed precompile test
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#553 Fix chain ID from Word to Uint64
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/evm/opcodes/chainid.rs
  bus-mapping/src/mock.rs
  circuit-benchmarks/src/super_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
  eth-types/src/evm_types/block_utils.rs
  eth-types/src/geth_types.rs
  external-tracer/src/lib.rs
  geth-utils/gethutil/trace.go
  mock/src/block.rs
  mock/src/lib.rs
  mock/src/test_ctx.rs
  mock/src/transaction.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/execution/chainid.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/rlp_circuit_fsm/test.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/tx.rs
  zkevm-circuits/tests/prover_error.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-eth-types, crate-geth-utils, crate-external-tracer, crate-mock

#554 sync up changes with halo2-lib; remove lifetimers
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/sig_circuit/ecdsa.rs
  zkevm-circuits/src/sig_circuit/utils.rs
Labels: crate-zkevm-circuits

#532 add constraint for rw counter
  bus-mapping/src/evm/opcodes/calldataload.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#544 feat: update pi circuit to be compatible with the latest bridge contract
  bus-mapping/src/circuit_input_builder.rs
  circuit-benchmarks/src/pi_circuit.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/pi_circuit/param.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench

#557 [Fix]L1fee constraint
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
  zkevm-circuits/src/witness/l1_msg.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#555 Fix/callop memory
  Cargo.lock
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/callop.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#561 Fix: constant column of PI circuit is not fixed
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/test.rs
Labels: crate-zkevm-circuits

#562 [Fix] L1fee unittest
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
Labels: crate-zkevm-circuits

#548 big change! upgrade zktrie circuit
  Cargo.lock
  bus-mapping/Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/lib.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/tests/prover_error.rs
  zktrie/Cargo.toml
  zktrie/src/lib.rs
  zktrie/src/state.rs
  zktrie/src/state/builder.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#566 Feat: constrain tx data gas cost in RLP & Tx circuits
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/l1_msg.rs
  zkevm-circuits/src/witness/rlp_fsm.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits

#565 using real length in copy table lookup
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#570 cargo fix
  Cargo.lock
  bus-mapping/src/error.rs
  bus-mapping/src/rpc.rs
  circuit-benchmarks/Cargo.toml
  circuit-benchmarks/src/bytecode_circuit.rs
  circuit-benchmarks/src/copy_circuit.rs
  circuit-benchmarks/src/evm_circuit.rs
  circuit-benchmarks/src/exp_circuit.rs
  circuit-benchmarks/src/packed_multi_keccak.rs
  circuit-benchmarks/src/pi_circuit.rs
  circuit-benchmarks/src/state_circuit.rs
  circuit-benchmarks/src/super_circuit.rs
  circuit-benchmarks/src/tx_circuit.rs
  eth-types/src/bytecode.rs
  eth-types/src/error.rs
  eth-types/src/evm_types/opcode_ids.rs
  eth-types/src/geth_types.rs
  gadgets/src/batched_is_zero.rs
  gadgets/src/binary_number.rs
  gadgets/src/evm_word.rs
  gadgets/src/is_zero.rs
  gadgets/src/less_than.rs
  gadgets/src/mul_add.rs
  geth-utils/build.rs
  geth-utils/src/lib.rs
  integration-tests/src/bin/gen_blockchain_data.rs
  integration-tests/src/lib.rs
  testool/src/abi.rs
  testool/src/config.rs
  testool/src/main.rs
  testool/src/statetest/json.rs
  testool/src/statetest/results.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  testool/src/utils.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/circuit/to_poseidon_hash.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/keccak_circuit/table.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/sig_circuit/test.rs
  zkevm-circuits/src/sig_circuit/utils.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/lookups.rs
  zkevm-circuits/src/state_circuit/multiple_precision_integer.rs
  zkevm-circuits/src/state_circuit/random_linear_combination.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/tests/prover_error.rs
  zktrie/src/state/test.rs
  zktrie/src/state/witness.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-gadgets, crate-eth-types, crate-geth-utils

#567 Remove chain_id in pi
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#571 memory-opt: add check for input, output and return bytes for precompile
  zkevm-circuits/src/evm_circuit/execution/callop.rs
Labels: crate-zkevm-circuits

#573 Fix `copy_rwc_inc` calculation as bus-mapping
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-zkevm-circuits

#575 Fix finding 3
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#569 add prev bytes and refactor copy event
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#574 remove Memory related codes
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/mload.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/test.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#582 fix returndatacopy and state test
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-bus-mapping, crate-zkevm-circuits
