Repository scroll-tech/zkevm-circuits, pull requests merged in 2023-11, with the labels that each got.

#1016 Use hi-lo PR
  Cargo.lock
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/witness/mpt.rs
  zktrie/Cargo.toml
Labels: crate-zkevm-circuits

#1023 [security-review] issue-13: fix wrong comment for opcodes in bus-mapping
  bus-mapping/src/evm/opcodes/caller.rs
  bus-mapping/src/evm/opcodes/callvalue.rs
  bus-mapping/src/evm/opcodes/gasprice.rs
Labels: crate-bus-mapping

#1021 [security-review] issue-14: replace `nth_last(0)` and `nth_last_filled(0)` with `last()` and `last_filled()`
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/access.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/blockhash.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/calldataload.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/error_codestore.rs
  bus-mapping/src/evm/opcodes/error_invalid_creation_code.rs
  bus-mapping/src/evm/opcodes/error_oog_log.rs
  bus-mapping/src/evm/opcodes/error_return_data_outofbound.rs
  bus-mapping/src/evm/opcodes/exp.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/mstore.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1020 [security-review] issue-10: refactor error-invalid-jump in bus-mapping
  bus-mapping/src/evm/opcodes/error_invalid_jump.rs
Labels: crate-bus-mapping

#1019 [security-review] issue-6: upgrade dependency `itertools`, `strum` and `strum_macros`
  Cargo.lock
  Cargo.toml
  bus-mapping/src/precompile.rs
  testool/src/main.rs
Labels: crate-bus-mapping

#1028 fix: several typos in the docs
  aggregator/README.md
  bus-mapping/README.md
  docs/Bytecode_Circuit.md
  docs/EVM_Circuit.md
  docs/Keccak_Circuit.md
Labels: crate-bus-mapping

#1029 Refactor: `PrecompileGadget` and precompile states
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_add.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_mul.rs
  bus-mapping/src/evm/opcodes/precompiles/ec_pairing.rs
  bus-mapping/src/evm/opcodes/precompiles/ecrecover.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  bus-mapping/src/evm/opcodes/precompiles/modexp.rs
  bus-mapping/src/precompile.rs
  zkevm-circuits/src/ecc_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_add.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/padding_gadget.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1026 [OpenZeppelin audit N-05] fix typos in bus-mapping
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/call.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
Labels: crate-bus-mapping

#1025 [OpenZeppelin audit N-07] replace `or_insert_with` with `or_default` for BTreeMap and HashMap
  bus-mapping/src/circuit_input_builder/access.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1004 [FEAT] support mainnet block in mainnet.rs (#814)
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/rpc.rs
  eth-types/src/geth_types.rs
  eth-types/src/lib.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/mainnet.rs
  integration-tests/tests/readme.md
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-eth-types

#1035 trace: disable step storage; remove reading from sload step storage
  .github/workflows/select-runner.yml
  bus-mapping/src/evm/opcodes/sload.rs
  external-tracer/src/lib.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
Labels: crate-bus-mapping, CI, crate-geth-utils, crate-external-tracer

#1033 fix: only enable circuit for `BASEFEE` opcode (without opcode mapping)
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/block_ctx.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-zkevm-circuits

#1034 fix: disable applying MPT for non-scroll to fix panic in integration-tests
  integration-tests/tests/mainnet.rs
Labels: crate-integration-tests

#1041 feat: add `AccessListGasCost` to fix begin-tx gas cost (EIP 2930 optional-access-list)
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/gas_utils.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1037 [feat] enum error in GethExecStep
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/error.rs
  bus-mapping/src/geth_errors.rs
  bus-mapping/src/lib.rs
  eth-types/src/l2_types.rs
  eth-types/src/lib.rs
  testool/src/utils.rs
Labels: crate-bus-mapping, crate-eth-types

#1038 [feat] add feature switch of memory/stack/storage
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/memory_expansion_test.rs
  bus-mapping/src/rpc.rs
  bus-mapping/src/util.rs
  eth-types/Cargo.toml
  eth-types/src/l2_types.rs
  eth-types/src/lib.rs
  external-tracer/Cargo.toml
  external-tracer/src/lib.rs
  mock/Cargo.toml
  testool/Cargo.toml
  testool/src/statetest/executor.rs
  testool/src/utils.rs
  zkevm-circuits/Cargo.toml
Labels: crate-bus-mapping, crate-eth-types, crate-external-tracer, crate-mock

#1042 Refactor PI Circuit
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#1047 fix macos build
  Cargo.lock
  Cargo.toml
  geth-utils/build.rs
Labels: crate-geth-utils

#1046 Fix mpt circuit lookups
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits
