Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-01, with the labels that each got.

#1068 [Soundness] Tx.to == precompile
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/error_oog_precompile.rs
  bus-mapping/src/evm/opcodes/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_add.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_mul.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/ecrecover.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/identity.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/mod.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/sha256.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/precompile_gadget.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1030 Feat: Support EIP1559
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  eth-types/src/geth_types.rs
  go.work.sum
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/rlp_circuit_fsm/test.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/l1_msg.rs
  zkevm-circuits/src/witness/rlp_fsm.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1054 [Refactor] Config implement to reduce duplicated code in multiple_precision_integer.rs
  zkevm-circuits/src/state_circuit/multiple_precision_integer.rs
Labels: crate-zkevm-circuits

#1066 feat: add sender balance check to begin-tx (EIP-1559)
  bus-mapping/src/circuit_input_builder/transaction.rs
  eth-types/src/geth_types.rs
  mock/src/transaction.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-mock

#1079 testool: enable and parse for EIP-1559 and EIP-2930
  geth-utils/l1geth/trace.go
  geth-utils/l2geth/trace.go
  testool/Config.toml
  testool/codehash.txt
  testool/docker/lllc/Dockerfile
  testool/docker/solc/Dockerfile
  testool/src/statetest/executor.rs
  testool/src/statetest/json.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  testool/src/utils.rs
Labels: crate-geth-utils

#1082 chore: Fix multiple typos
  docs/EVM_Circuit.md
  docs/Keccak_Circuit.md
  integration-tests/tests/readme.md
Labels: crate-integration-tests

#1087 [FIX] sha256 witness issue (#1081)
  zkevm-circuits/src/sha256_circuit/circuit.rs
  zkevm-circuits/src/sha256_circuit/test.rs
Labels: crate-zkevm-circuits

#1080 Update and fix access-list issues with testool
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  testool/src/statetest/json.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_access_list.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip2930.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1090 fix (soundness): save access-list `is_warm_prev` to copy circuit
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1069 feat: word hi lo refactor stage2
  aggregator/src/core.rs
  aggregator/src/tests/aggregation.rs
  gadgets/src/comparator.rs
  gadgets/src/less_than.rs
  gadgets/src/mul_add.rs
  gadgets/src/range.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_inner_block.rs
  zkevm-circuits/src/evm_circuit/execution/gasprice.rs
  zkevm-circuits/src/evm_circuit/execution/origin.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/exp_circuit.rs
  zkevm-circuits/src/exp_circuit/dev.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/rlp_circuit_fsm/dev.rs
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1095 [FIX] Handling oog for sha256 precompile
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1096 [Fix] SHA256 circuit: Wrong final condition base on padding position
  zkevm-circuits/src/sha256_circuit/circuit.rs
Labels: crate-zkevm-circuits

#1043 [feat] add call tracer and prestate tracer
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/access.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/rpc.rs
  eth-types/src/l2_types.rs
  eth-types/src/lib.rs
  external-tracer/Cargo.toml
  external-tracer/src/lib.rs
  geth-utils/l1geth/go.mod
  geth-utils/l1geth/go.sum
  geth-utils/l1geth/trace.go
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  geth-utils/l2geth/trace.go
  go.work.sum
  integration-tests/tests/circuit_input_builder.rs
  prover/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/error_invalid_opcode.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-zkevm-circuits, CI, crate-eth-types, crate-geth-utils, crate-external-tracer

#1098 RlpDecodingTable Id Column Phase Correction
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#1099 [Fix]Input parsing for modexp precompile
  bus-mapping/src/precompile.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1101 Feat/ci fix
  .github/ciChecksScripts/wakeUpRunner.sh
  .github/workflows/select-runner.yml
Labels: CI
