Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-08, with the labels that each got.

#1388 [Feat] Optimize zktrieState with flatten proofs
  Cargo.lock
  bus-mapping/src/circuit_input_builder/l2.rs
  eth-types/src/l2_types.rs
  integration-tests/tests/l2_trace.rs
  prover/src/zkevm/circuit/builder.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/mpt/witness.rs
  zktrie/src/lib.rs
  zktrie/src/state.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-zkevm-circuits, crate-eth-types

#1392 chore: upgrade trie to make it forward compatible with future trace changes
  Cargo.lock
  bus-mapping/src/circuit_input_builder/l2.rs
  eth-types/src/l2_types.rs
  integration-tests/tests/l2_trace.rs
  prover/src/zkevm/circuit/builder.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/mpt/witness.rs
  zktrie/Cargo.toml
  zktrie/src/lib.rs
  zktrie/src/state.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-zkevm-circuits, crate-eth-types

#1395 Adjust CCC Confidence Factor
  zkevm-circuits/src/super_circuit/params.rs
Labels: crate-zkevm-circuits

#1398 fix: BlockTraceV2 missing withdraw_trie_root
  eth-types/src/l2_types.rs
Labels: crate-eth-types

#1400 fix: ChunkInfo::from_block_traces
  .github/workflows/ci.yml
  aggregator/src/chunk.rs
Labels: CI

#1397 Prepare bytecode refactor
  aggregator/src/chunk.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/codesize.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/error_precompile_failed.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1404 (v0.12.2) Move params out of prover/verifier
  prover/src/aggregator/prover.rs
  prover/src/aggregator/verifier.rs
  prover/src/common/prover.rs
  prover/src/common/prover/aggregation.rs
  prover/src/common/prover/chunk.rs
  prover/src/common/prover/compression.rs
  prover/src/common/prover/evm.rs
  prover/src/common/prover/inner.rs
  prover/src/common/prover/mock.rs
  prover/src/common/prover/recursion.rs
  prover/src/common/prover/utils.rs
  prover/src/common/verifier.rs
  prover/src/common/verifier/evm.rs
  prover/src/common/verifier/utils.rs
  prover/src/inner/prover.rs
  prover/src/inner/prover/mock.rs
  prover/src/inner/verifier.rs
  prover/src/test/batch.rs
  prover/src/test/chunk.rs
  prover/src/test/inner.rs
  prover/src/zkevm/prover.rs
  prover/src/zkevm/verifier.rs
Labels: crate-prover

#1405 (v0.13.1) Move params out of prover/verifier & Additional sanity check
  aggregator/src/eip4844.rs
  prover/src/aggregator/prover.rs
  prover/src/aggregator/verifier.rs
  prover/src/common/prover.rs
  prover/src/common/prover/aggregation.rs
  prover/src/common/prover/chunk.rs
  prover/src/common/prover/compression.rs
  prover/src/common/prover/evm.rs
  prover/src/common/prover/inner.rs
  prover/src/common/prover/mock.rs
  prover/src/common/prover/recursion.rs
  prover/src/common/prover/utils.rs
  prover/src/common/verifier.rs
  prover/src/common/verifier/evm.rs
  prover/src/common/verifier/utils.rs
  prover/src/inner/prover.rs
  prover/src/inner/prover/mock.rs
  prover/src/inner/verifier.rs
  prover/src/test/batch.rs
  prover/src/test/chunk.rs
  prover/src/test/inner.rs
  prover/src/zkevm/prover.rs
  prover/src/zkevm/verifier.rs
Labels: crate-prover

#1406 fix: `TransactionTrace::to_eth_tx` does not handle `chain_id` properly
  eth-types/src/l2_types.rs
Labels: crate-eth-types

#1407 Remove redundant crate(keccak256) and module(root_circuit)
  keccak256/Cargo.toml
  keccak256/src/arith_helpers.rs
  keccak256/src/common.rs
  keccak256/src/gate_helpers.rs
  keccak256/src/keccak_arith.rs
  keccak256/src/lib.rs
  keccak256/src/plain.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/root_circuit/aggregation.rs
  zkevm-circuits/src/root_circuit/test.rs
Labels: crate-zkevm-circuits, crate-keccak

#1394 conditional encode
  .gitignore
  aggregator/data/batch-task.json
  aggregator/data/worked-example
  aggregator/src/aggregation/barycentric.rs
  aggregator/src/aggregation/batch_data.rs
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/witgen/params.rs
  aggregator/src/batch.rs
  aggregator/src/blob.rs
  aggregator/src/chunk.rs
  aggregator/src/eip4844.rs
  aggregator/src/lib.rs
  aggregator/src/param.rs
  aggregator/src/tests/aggregation.rs
  aggregator/src/tests/blob.rs
  prover/src/aggregator.rs
  prover/src/aggregator/prover.rs
  prover/src/aggregator/verifier.rs
  prover/src/common/prover.rs
  prover/src/common/prover/aggregation.rs
  prover/src/common/prover/chunk.rs
  prover/src/common/prover/compression.rs
  prover/src/common/prover/evm.rs
  prover/src/common/prover/inner.rs
  prover/src/common/prover/mock.rs
  prover/src/common/prover/recursion.rs
  prover/src/common/prover/utils.rs
  prover/src/common/verifier.rs
  prover/src/common/verifier/evm.rs
  prover/src/common/verifier/utils.rs
  prover/src/inner/prover.rs
  prover/src/inner/prover/mock.rs
  prover/src/inner/verifier.rs
  prover/src/test/batch.rs
  prover/src/test/chunk.rs
  prover/src/test/inner.rs
  prover/src/types.rs
  prover/src/zkevm/prover.rs
  prover/src/zkevm/verifier.rs
Labels: crate-prover

#1409 better err log: (1) return err for copy circuit overflow (2) log::war…
  Cargo.lock
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/calldatacopy.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/logs.rs
  bus-mapping/src/evm/opcodes/mcopy.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/evm/opcodes/returndatacopy.rs
  bus-mapping/src/evm/opcodes/sha3.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1403 Derive traits instead of implementing them
  bus-mapping/src/circuit_input_builder/execution.rs
Labels: crate-bus-mapping
