Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-07, with the labels that each got.

#1356 [feat] add Bernoulli to HardforkId
  eth-types/src/forks.rs
  zkevm-circuits/src/evm_circuit.rs
Labels: crate-zkevm-circuits, crate-eth-types

#1357 New Batch Circuit PI Integration Debug Fixes
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/batch.rs
  aggregator/src/blob.rs
  aggregator/src/constants.rs
  aggregator/src/core.rs
  aggregator/src/recursion/common.rs
  aggregator/src/recursion/util.rs
  aggregator/src/tests/recursion.rs
  aggregator/src/util.rs
  prover/src/aggregator/prover.rs
Labels: crate-prover, recursion

#1361 revert chunk circuit vk to mainnet version
  prover/src/zkevm/circuit/builder.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-prover, crate-zkevm-circuits

#1362 Standalone BatchHeader Constructor
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/batch.rs
  prover/src/aggregator/prover.rs
  prover/src/aggregator/verifier.rs
  prover/src/proof/batch.rs
  prover/src/proof/bundle.rs
  prover/src/types.rs
Labels: crate-prover, recursion

#1352 `RecursionCircuit` and updated `BatchCircuit`
  Cargo.lock
  Cargo.toml
  aggregator/Cargo.toml
  aggregator/configs/bundle_circuit.config
  aggregator/src/aggregation.rs
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/batch.rs
  aggregator/src/blob.rs
  aggregator/src/chunk.rs
  aggregator/src/constants.rs
  aggregator/src/core.rs
  aggregator/src/lib.rs
  aggregator/src/recursion.rs
  aggregator/src/recursion/circuit.rs
  aggregator/src/recursion/common.rs
  aggregator/src/recursion/config.rs
  aggregator/src/recursion/util.rs
  aggregator/src/tests.rs
  aggregator/src/tests/aggregation.rs
  aggregator/src/tests/recursion.rs
  aggregator/src/tests/rlc/dynamic_hashes.rs
  aggregator/src/util.rs
  gadgets/src/util.rs
  prover/src/aggregator.rs
  prover/src/aggregator/prover.rs
  prover/src/aggregator/verifier.rs
  prover/src/common/prover.rs
  prover/src/common/prover/aggregation.rs
  prover/src/common/prover/recursion.rs
  prover/src/config.rs
  prover/src/consts.rs
  prover/src/lib.rs
  prover/src/proof.rs
  prover/src/proof/batch.rs
  prover/src/proof/bundle.rs
  prover/src/recursion.rs
  prover/src/test.rs
  prover/src/test/batch.rs
  prover/src/types.rs
  zkevm-circuits/src/root_circuit.rs
Labels: crate-prover, crate-zkevm-circuits, crate-gadgets, recursion

#1360 chore: upgrade revm to v40
  Cargo.lock
  Cargo.toml
  bus-mapping/src/precompile.rs
  eth-types/src/l2_types.rs
Labels: crate-bus-mapping, crate-eth-types

#1371 fix: vk filenames
  prover/src/consts.rs
Labels: crate-prover

#1367 add comment to explain rlp_unsigned_bytes
  bus-mapping/src/circuit_input_builder/transaction.rs
  eth-types/src/geth_types.rs
Labels: crate-bus-mapping, crate-eth-types

#1370 feat: allow bincode ser/de
  Cargo.lock
  Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/data/traces/5224657.json
  eth-types/src/l2_types.rs
Labels: crate-eth-types

#1376 upgrade l2geth and remove old bytecode collecting codes
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  eth-types/src/l2_types.rs
  eth-types/src/l2_types/trace.rs
  geth-utils/l2geth/go.mod
  go.work.sum
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/test_util.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#1380 refactor SameContextGadget:assign_exec_step to include block, call
  zkevm-circuits/src/evm_circuit/execution/add_sub.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/address.rs
  zkevm-circuits/src/evm_circuit/execution/balance.rs
  zkevm-circuits/src/evm_circuit/execution/bitwise.rs
  zkevm-circuits/src/evm_circuit/execution/block_ctx.rs
  zkevm-circuits/src/evm_circuit/execution/blockhash.rs
  zkevm-circuits/src/evm_circuit/execution/byte.rs
  zkevm-circuits/src/evm_circuit/execution/calldatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/calldataload.rs
  zkevm-circuits/src/evm_circuit/execution/calldatasize.rs
  zkevm-circuits/src/evm_circuit/execution/caller.rs
  zkevm-circuits/src/evm_circuit/execution/callvalue.rs
  zkevm-circuits/src/evm_circuit/execution/chainid.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/codesize.rs
  zkevm-circuits/src/evm_circuit/execution/comparator.rs
  zkevm-circuits/src/evm_circuit/execution/dup.rs
  zkevm-circuits/src/evm_circuit/execution/exp.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodehash.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/gas.rs
  zkevm-circuits/src/evm_circuit/execution/gasprice.rs
  zkevm-circuits/src/evm_circuit/execution/is_zero.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpdest.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/logs.rs
  zkevm-circuits/src/evm_circuit/execution/mcopy.rs
  zkevm-circuits/src/evm_circuit/execution/memory.rs
  zkevm-circuits/src/evm_circuit/execution/msize.rs
  zkevm-circuits/src/evm_circuit/execution/mul_div_mod.rs
  zkevm-circuits/src/evm_circuit/execution/mulmod.rs
  zkevm-circuits/src/evm_circuit/execution/not.rs
  zkevm-circuits/src/evm_circuit/execution/origin.rs
  zkevm-circuits/src/evm_circuit/execution/pc.rs
  zkevm-circuits/src/evm_circuit/execution/pop.rs
  zkevm-circuits/src/evm_circuit/execution/push.rs
  zkevm-circuits/src/evm_circuit/execution/returndatacopy.rs
  zkevm-circuits/src/evm_circuit/execution/returndatasize.rs
  zkevm-circuits/src/evm_circuit/execution/sar.rs
  zkevm-circuits/src/evm_circuit/execution/sdiv_smod.rs
  zkevm-circuits/src/evm_circuit/execution/selfbalance.rs
  zkevm-circuits/src/evm_circuit/execution/sha3.rs
  zkevm-circuits/src/evm_circuit/execution/shl_shr.rs
  zkevm-circuits/src/evm_circuit/execution/signed_comparator.rs
  zkevm-circuits/src/evm_circuit/execution/signextend.rs
  zkevm-circuits/src/evm_circuit/execution/sload.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/execution/swap.rs
  zkevm-circuits/src/evm_circuit/execution/tload.rs
  zkevm-circuits/src/evm_circuit/execution/tstore.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
Labels: crate-zkevm-circuits

#1382 fix: propagate `chain_id` over app SNARKs (batch circuit instances)
  aggregator/README.md
  aggregator/src/recursion.rs
  aggregator/src/recursion/circuit.rs
  prover/src/recursion.rs
Labels: crate-prover

#1323 Soundness Tests for `SeqInstTable` and `SequenceConfig`
  aggregator/src/aggregation/decoder/seq_exec.rs
  aggregator/src/aggregation/decoder/tables/seqinst_table.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
Labels: da-compression

#1319 Soundness Tests for `LiteralsHeaderTable`
  aggregator/src/aggregation/decoder/tables/literals_header.rs
  aggregator/src/tests.rs
  aggregator/src/tests/literals_header.rs
Labels: da-compression
