Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-03, with the labels that each got.

#1129 misc trace fixes; disable batch inv in halo2
  Cargo.lock
  geth-utils/l2geth/trace.go
  testool/Config.toml
  testool/src/statetest/executor.rs
  testool/src/statetest/suite.rs
  zkevm-circuits/Cargo.toml
  zktrie/Cargo.toml
Labels: crate-geth-utils

#1133 [Fix] index of storae key in access list
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1134 [fix] misconfiguration of trace config
  bus-mapping/src/rpc.rs
  testool/src/statetest/executor.rs
Labels: crate-bus-mapping

#1137 1559 selector fix in RLP
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#1135 [feat] testool: report err when ccc overflows
  testool/src/statetest/executor.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1139 upgrade l2geth
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
Labels: crate-geth-utils

#1142 [Fix]Update test parameters
  bus-mapping/src/rpc.rs
  integration-tests/tests/mainnet.rs
Labels: crate-bus-mapping, crate-integration-tests

#1140 [fix] audit fix
  Cargo.lock
  Cargo.toml
  testool/Cargo.toml
  testool/src/main.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/selfbalance.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_msg.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/cmp_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/min_max.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/pair_select.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/modexp_circuit.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/sha256_circuit.rs
  zkevm-circuits/src/sha256_circuit/circuit.rs
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-zkevm-circuits

#1154 Feat/4844 Add Missing Chunk Parts
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-zkevm-circuits

#1169 Blob 4844 DA Resolve Cargo Conflict
  .gitignore
  Cargo.lock
  Cargo.toml
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/rpc.rs
  docs/EIP2930_1559.md
  eth-types/src/evm_types/opcode_ids.rs
  eth-types/src/l2_types.rs
  eth-types/src/lib.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  geth-utils/l2geth/trace.go
  go.work.sum
  integration-tests/tests/mainnet.rs
  testool/.gitignore
  testool/Cargo.toml
  testool/Config.toml
  testool/src/main.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/suite.rs
  testool/src/statetest/yaml.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/addmod.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/block_ctx.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_log.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_precompile.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_sload_sstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_return_data_oo_bound.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/extcodesize.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles/modexp.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/execution/selfbalance.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_msg.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/cmp_words.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/min_max.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/pair_select.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/modexp_circuit.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/sha256_circuit.rs
  zkevm-circuits/src/sha256_circuit/circuit.rs
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/tx.rs
  zktrie/Cargo.toml
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#1171 V0.10 rows
  Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/super_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1170 [Fix] Issue from codeaudition of sha256 circuit
  zkevm-circuits/src/sha256_circuit/README.md
  zkevm-circuits/src/sha256_circuit/circuit.rs
Labels: crate-zkevm-circuits

#1183 Fix copy duplicated comments
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#1180 Feat/Blob 4844 Chunk-level Patch
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits

#1184 revert ethers-core and improve code to satisfy clippy
  Cargo.toml
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  zkevm-circuits/src/poseidon_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1188 Feat/Blob 4844 Chunk-level TxCircuit CCC
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits, da-4844

#1187 Refactor | Clippy
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/sload.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, da-4844

#1189 Feat/Blob 4844 PICircuit Chunk TxBytes Condense
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits, da-4844
