Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-06, with the labels that each got.

#1314 feat: add row usages to chunk proof, and refactor prover codes
  .rustfmt.toml
  Cargo.lock
  Cargo.toml
  aggregator/src/batch.rs
  aggregator/src/blob.rs
  aggregator/src/chunk.rs
  aggregator/src/lib.rs
  aggregator/src/tests/aggregation.rs
  aggregator/src/tests/mock_chunk.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
  prover/src/aggregator.rs
  prover/src/aggregator/prover.rs
  prover/src/common.rs
  prover/src/common/prover/aggregation.rs
  prover/src/common/verifier.rs
  prover/src/inner/prover.rs
  prover/src/lib.rs
  prover/src/proof.rs
  prover/src/proof/batch.rs
  prover/src/proof/chunk.rs
  prover/src/test/batch.rs
  prover/src/test/chunk.rs
  prover/src/types.rs
  prover/src/zkevm.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit/l1_builder.rs
  prover/src/zkevm/circuit/l2_builder.rs
  prover/src/zkevm/prover.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits

#1315 fix prover after refactor
  prover/Cargo.toml
  prover/src/aggregator/verifier.rs
  prover/src/common/prover/evm.rs
  prover/src/common/verifier/evm.rs
  prover/src/consts.rs
  prover/src/evm.rs
  prover/src/lib.rs
  prover/src/utils.rs
Labels: crate-prover

#1320 Fix: field_rlc column needs to in phase2.
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1316 feat(l1 fee): many updates
  .github/workflows/ci.yml
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/curie.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/data/v2_l1_oracle_bytecode.txt
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/lib.rs
  eth-types/src/data/v1_l1_oracle_bytecode.txt
  eth-types/src/data/v2_l1_oracle_bytecode.txt
  eth-types/src/forks.rs
  eth-types/src/l2_predeployed.rs
  eth-types/src/lib.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  go.work.sum
  mock/src/block.rs
  mock/src/test_ctx.rs
  prover/Cargo.toml
  prover/src/proof/chunk.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/curie.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/super_circuit/eip1559_2930.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/l1_msg.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, CI, crate-eth-types, crate-geth-utils, crate-mock

#1313 L1 Fee Curie: add unit test
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
Labels: crate-zkevm-circuits

#1325 fix: use correct chain id for l1 fee
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
Labels: crate-bus-mapping

#1328 Refactor: witness building
  .github/workflows/ci.yml
  aggregator/src/chunk.rs
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/builder_client.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/blockhash.rs
  bus-mapping/src/evm/opcodes/environment.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/util.rs
  eth-types/src/constants.rs
  eth-types/src/geth_types.rs
  eth-types/src/lib.rs
  integration-tests/tests/mainnet.rs
  prover/Cargo.toml
  prover/src/common/prover/inner.rs
  prover/src/consts.rs
  prover/src/inner/prover/mock.rs
  prover/src/inner/verifier.rs
  prover/src/lib.rs
  prover/src/test/chunk.rs
  prover/src/test/inner.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit.rs
  prover/src/zkevm/circuit/builder.rs
  prover/src/zkevm/circuit/l1_builder.rs
  prover/src/zkevm/circuit/super_circuit.rs
  prover/src/zkevm/verifier.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/stats.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/test_util.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-zkevm-circuits, CI, crate-eth-types

#1326 Auditing improvement: test new_for_mcopy
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
Labels: crate-zkevm-circuits

#1334 Refactor: BlockTrace struct
  Cargo.lock
  bus-mapping/src/circuit_input_builder/l2.rs
  eth-types/Cargo.toml
  eth-types/src/l2_types.rs
  eth-types/src/l2_types/trace.rs
  eth-types/src/state_db.rs
  eth-types/src/state_db/l2.rs
  eth-types/src/utils.rs
  eth-types/src/utils/codehash.rs
  eth-types/src/utils/io.rs
  prover/src/io.rs
  prover/src/proof.rs
  zkevm-circuits/src/witness/mpt/witness.rs
  zktrie/src/state.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, crate-eth-types

#1321 Auditing: ErrorMemorycopy constrain src_len & memory expansion
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
Labels: crate-zkevm-circuits

#1335 fix degree pow of rand table in agg circuit
  aggregator/src/aggregation/circuit.rs
  aggregator/src/core.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits

#1336 set curie fork height
  eth-types/src/forks.rs
  zkevm-circuits/src/evm_circuit.rs
Labels: crate-zkevm-circuits, crate-eth-types

#1338 v0.11: Update fork height
  eth-types/src/forks.rs
  eth-types/src/l2_types.rs
  eth-types/src/testdata/trace_v1_5224657.json
  eth-types/src/testdata/trace_v2_5224657.json
Labels: crate-eth-types

#1341 Refactor: trace
  aggregator/src/batch.rs
  aggregator/src/blob.rs
  aggregator/src/chunk.rs
  aggregator/src/lib.rs
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/create.rs
  eth-types/src/constants.rs
  eth-types/src/l2_types.rs
  eth-types/src/l2_types/trace.rs
  eth-types/src/lib.rs
  prover/src/aggregator.rs
  prover/src/lib.rs
  prover/src/zkevm/capacity_checker.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/error_code_store.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_creation_code.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, crate-eth-types

#1333 add error mcopy test
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/test_util.rs
Labels: crate-zkevm-circuits

#1344 Fix: Update tx_circuit.rs MAX_AGG_SNARKS
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1346 refactor(ccc): less magic numbers
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit/builder.rs
  zkevm-circuits/src/poseidon_circuit.rs
Labels: crate-prover, crate-zkevm-circuits

#1347 refactor: disable "test" "mock" features in prover side to get rid of Go
  aggregator/Cargo.toml
  aggregator/src/chunk.rs
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/builder_client.rs
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/mock.rs
  prover/Cargo.toml
  prover/src/io.rs
  prover/src/zkevm/capacity_checker.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/test.rs
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/sig_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/keccak.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/mpt/test.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits

#1348 Sync v0.11 till 38a68e2
  eth-types/src/forks.rs
  eth-types/src/l2_types.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  go.work.sum
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/curie.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
Labels: crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#1350 [fix] move from_json_file back to prover crate
  Cargo.lock
  eth-types/Cargo.toml
  eth-types/src/l2_types.rs
  eth-types/src/utils.rs
  eth-types/src/utils/io.rs
  prover/src/io.rs
  prover/src/proof.rs
Labels: crate-prover, crate-eth-types
