Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-02, with the labels that each got.

#1104 merge cancun2 change(tload, tstore, mcopy) into word hi-lo
  eth-types/src/evm_types/opcode_ids.rs
  testool/Config.toml
Labels: crate-eth-types

#1100 upgrade halo2 to v1.1 mvlookup
  Cargo.lock
  Cargo.toml
  gadgets/src/evm_word.rs
  gadgets/src/monotone.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/lexicographic_ordering.rs
  zkevm-circuits/src/state_circuit/multiple_precision_integer.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1078 pick #1719 from upstream: fix begin-tx tx_id soundness
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_inner_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1105 [fix] remove debug println
  bus-mapping/src/circuit_input_builder/l2.rs
Labels: crate-bus-mapping

#1092 Feat/zstd witgen compressed block
  zkevm-circuits/src/decompression_circuit.rs
  zkevm-circuits/src/decompression_circuit/dev.rs
  zkevm-circuits/src/decompression_circuit/test.rs
  zkevm-circuits/src/table/decompression.rs
  zkevm-circuits/src/table/decompression/bitstring_accumulation_table.rs
  zkevm-circuits/src/table/decompression/block_type_rom_table.rs
  zkevm-circuits/src/table/decompression/decoded_literals_table.rs
  zkevm-circuits/src/table/decompression/fse_table.rs
  zkevm-circuits/src/table/decompression/huffman_codes_table.rs
  zkevm-circuits/src/table/decompression/literals_header_rom_table.rs
  zkevm-circuits/src/table/decompression/literals_header_table.rs
  zkevm-circuits/src/table/decompression/mod.rs
  zkevm-circuits/src/table/decompression/tag_rom_table.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/zstd/mod.rs
  zkevm-circuits/src/witness/zstd/params.rs
  zkevm-circuits/src/witness/zstd/types.rs
  zkevm-circuits/src/witness/zstd/util.rs
Labels: crate-zkevm-circuits

#1116 [Add comments for precompile design
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1115 doc for eip EIP2930&1559
  docs/EIP2930_1559.md
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
Labels: crate-zkevm-circuits

#1120 eip1559 gadget: constrain gas_fee_cap >= base_fee
  docs/EIP2930_1559.md
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
Labels: crate-zkevm-circuits
