Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-09, with the labels that each got.

#1368 opt: add another bytecode circuit to improve super circuit capacity
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
  zkevm-circuits/src/copy_circuit/dev.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/codecopy.rs
  zkevm-circuits/src/evm_circuit/execution/codesize.rs
  zkevm-circuits/src/evm_circuit/execution/error_invalid_jump.rs
  zkevm-circuits/src/evm_circuit/execution/extcodecopy.rs
  zkevm-circuits/src/evm_circuit/execution/jump.rs
  zkevm-circuits/src/evm_circuit/execution/jumpi.rs
  zkevm-circuits/src/evm_circuit/execution/stop.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/instrumentation.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/bytecode.rs
Labels: crate-zkevm-circuits

#1417 Post curie sanity
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1412 add pre-eip155 evm circuit test
  bus-mapping/src/circuit_input_builder/transaction.rs
  geth-utils/l2geth/trace.go
  mock/src/transaction.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-geth-utils, crate-mock

#1425 Refactor: unify tx types(1559, 2930, pre155 etc) tests into dedicated folder
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/tests/eip155.rs
  zkevm-circuits/src/evm_circuit/execution/tests/eip1559.rs
  zkevm-circuits/src/evm_circuit/execution/tests/eip2930.rs
  zkevm-circuits/src/evm_circuit/execution/tests/mod.rs
  zkevm-circuits/src/evm_circuit/execution/tests/pre_eip155.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip2930.rs
Labels: crate-zkevm-circuits
