Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-04, with the labels that each got.

#1182 Fix 1559 tests & signatures bugs
  mock/src/block.rs
  mock/src/transaction.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
Labels: crate-zkevm-circuits, crate-mock

#1191 [FIX] big-endianness for blob poly from bytes
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/blob.rs
Labels: da-4844

#1192 Doc/Blob 4844 Add Pi Bytes Component
  zkevm-circuits/src/pi_circuit.rs
Labels: crate-zkevm-circuits, da-4844

#1194 Add more tests for BlobData struct
  aggregator/src/aggregation/barycentric.rs
  aggregator/src/blob.rs
Labels: da-4844

#1193 Rename N_BYTES_31 and N_BYTES_32
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/blob.rs
Labels: da-4844

#1197 Fix/Remove Individual L2 TxHash from Keccak
  bus-mapping/src/circuit_input_builder.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, da-4844

#1200 include selectors from blob data config
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/aggregation/circuit.rs
Labels: da-4844

#1195 [FIX] Calculating for required rows of sha256 circuit
  zkevm-circuits/src/sha256_circuit.rs
Labels: crate-zkevm-circuits

#1190 enable & update two 1559 negative tests for scroll feature
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
Labels: crate-zkevm-circuits

#1196 tests(1559): test GasPrice op for 1559 tx
  zkevm-circuits/src/evm_circuit/execution/gasprice.rs
Labels: crate-zkevm-circuits

#1153 epic: Blob 4844 DA
  Cargo.lock
  Cargo.toml
  aggregator/Cargo.toml
  aggregator/src/aggregation.rs
  aggregator/src/aggregation/barycentric.rs
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/aggregation/rlc.rs
  aggregator/src/aggregation/rlc/config.rs
  aggregator/src/aggregation/rlc/gates.rs
  aggregator/src/batch.rs
  aggregator/src/blob.rs
  aggregator/src/chunk.rs
  aggregator/src/constants.rs
  aggregator/src/core.rs
  aggregator/src/lib.rs
  aggregator/src/param.rs
  aggregator/src/tests.rs
  aggregator/src/tests/aggregation.rs
  aggregator/src/tests/blob.rs
  aggregator/src/tests/mock_chunk.rs
  aggregator/src/util.rs
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/sload.rs
  eth-types/Cargo.toml
  eth-types/src/lib.rs
  eth-types/src/sign_types.rs
  prover/Cargo.toml
  prover/src/aggregator.rs
  prover/src/aggregator/prover.rs
  prover/src/common/prover/aggregation.rs
  prover/src/common/prover/compression.rs
  prover/src/common/prover/evm.rs
  prover/src/common/prover/inner.rs
  prover/src/common/prover/utils.rs
  prover/src/lib.rs
  prover/src/types.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit/l2_builder.rs
  prover/src/zkevm/prover.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/end_inner_block.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/dev.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/tx_circuit/dev.rs
  zkevm-circuits/src/tx_circuit/test.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, crate-eth-types, da-4844

#1204 feat(bus-mapping): add sanity check for jumpi
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/jumpi.rs
Labels: crate-bus-mapping

#1199 fix 2930 signature & add tests
  mock/src/transaction.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_access_list.rs
Labels: crate-zkevm-circuits, crate-mock

#1208 Fix: use indicator column to reduce tx circuit lookup degree
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1207 CI: update super circuit deg test
  zkevm-circuits/src/super_circuit/test.rs
Labels: crate-zkevm-circuits

#1210 Add 4844 soundness tests
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/tests/blob.rs
Labels: da-4844

#1212 [Testing] Enable mainnet test utility work with common rpc node
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/sstore.rs
  bus-mapping/src/rpc.rs
  integration-tests/Cargo.toml
  integration-tests/tests/mainnet.rs
  integration-tests/tests/readme.md
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/sha256_circuit.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-zkevm-circuits

#1214 Separation of `BlobDataConfig` and `BatchDataConfig`
  aggregator/src/aggregation.rs
  aggregator/src/aggregation/barycentric.rs
  aggregator/src/aggregation/batch_data.rs
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/aggregation/decompression.rs
  aggregator/src/aggregation/decompression/decoder.rs
  aggregator/src/batch.rs
  aggregator/src/blob.rs
  aggregator/src/tests/blob.rs
Labels: da-compression

#1217 Decoder "input region"
  aggregator/src/aggregation.rs
  aggregator/src/aggregation/batch_data.rs
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables.rs
  aggregator/src/aggregation/decoder/tables/literals_header.rs
  aggregator/src/aggregation/decoder/tables/rom_tag.rs
  aggregator/src/aggregation/decoder/witgen.rs
  aggregator/src/aggregation/decoder/witgen/params.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
  aggregator/src/aggregation/decoder/witgen/util.rs
  aggregator/src/aggregation/decompression.rs
  aggregator/src/aggregation/decompression/decoder.rs
  aggregator/src/tests/blob.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits, da-compression

#1206 testool: enable strict-ccc and disable enable-storage
  bus-mapping/Cargo.toml
  testool/Cargo.toml
  zkevm-circuits/Cargo.toml
Labels: crate-bus-mapping

#1149 Audit fix for access list rw_delta_expr
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_access_list.rs
Labels: crate-zkevm-circuits

#1150 audit fix input_mod_192_is_zero in ec_pairing
  zkevm-circuits/src/evm_circuit/execution/precompiles/ec_pairing.rs
Labels: crate-zkevm-circuits

#1151 fix audit: constrain tx_l1_fee gadget
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
Labels: crate-zkevm-circuits

#1152 feat(1559): constrain tx gas price == effective gas price
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_eip1559.rs
Labels: crate-zkevm-circuits

#1181 Audit Fixes EIP2930/1559 RLP Decoding Table Correspondence
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#1176 Audit Fixes EIP2930/1559 TxCircuit Dynamic Section Transitions
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1175 Audit Fixes EIP2930/1559 in RLP Circuits
  Cargo.lock
  Cargo.toml
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1234 Bitstream Decoding and FSE Table Recovery
  aggregator/src/aggregation.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables.rs
  aggregator/src/aggregation/decoder/tables/bitstring.rs
  aggregator/src/aggregation/decoder/tables/fse.rs
  aggregator/src/aggregation/decoder/tables/literals_header.rs
  aggregator/src/aggregation/decoder/tables/rom_fse_order.rs
  zkevm-circuits/src/table.rs
Labels: crate-zkevm-circuits, da-compression

#1233 Implement TLOAD and TSTORE
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_write_protection.rs
  bus-mapping/src/evm/opcodes/tload.rs
  bus-mapping/src/evm/opcodes/tstore.rs
  bus-mapping/src/exec_trace.rs
  bus-mapping/src/operation.rs
  bus-mapping/src/operation/container.rs
  bus-mapping/src/state_db.rs
  eth-types/src/error.rs
  eth-types/src/evm_types.rs
  eth-types/src/evm_types/opcode_ids.rs
  eth-types/src/evm_types/transient_storage.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/sstore.rs
  zkevm-circuits/src/evm_circuit/execution/tload.rs
  zkevm-circuits/src/evm_circuit/execution/tstore.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#1236 refactor for stateless block verifier
  Cargo.lock
  Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/l2.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/balance.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/codecopy.rs
  bus-mapping/src/evm/opcodes/create.rs
  bus-mapping/src/evm/opcodes/extcodecopy.rs
  bus-mapping/src/evm/opcodes/extcodesize.rs
  bus-mapping/src/evm/opcodes/return_revert.rs
  bus-mapping/src/lib.rs
  bus-mapping/src/mock.rs
  bus-mapping/src/precompile.rs
  bus-mapping/src/util.rs
  circuit-benchmarks/Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/error.rs
  eth-types/src/l2_types.rs
  eth-types/src/lib.rs
  eth-types/src/state_db.rs
  eth-types/src/state_db/l2.rs
  eth-types/src/utils.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit/l2_builder.rs
  testool/Cargo.toml
  testool/src/compiler.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs
  zkevm-circuits/src/bytecode_circuit/circuit.rs
  zkevm-circuits/src/bytecode_circuit/test.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/create.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget/rlp.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/block.rs
  zktrie/src/state.rs
  zktrie/src/state/builder.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, crate-circuit-benchmarks, T-bench, crate-eth-types

#1239 Multiple Fixes and Improvements
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables/fse.rs
  aggregator/src/aggregation/decoder/tables/literals_header.rs
  aggregator/src/aggregation/decoder/tables/rom_fse_order.rs
Labels: da-compression

#1242 chore: clean up deps
  Cargo.lock
  Cargo.toml
  aggregator/Cargo.toml
  eth-types/Cargo.toml
  eth-types/src/geth_types.rs
  eth-types/src/lib.rs
  eth-types/src/sign_types.rs
  eth-types/src/utils.rs
  zktrie/Cargo.toml
Labels: crate-eth-types

#1243 move mpt witness to zkevm-circuits
  Cargo.lock
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/mpt_circuit.rs
  zkevm-circuits/src/poseidon_circuit.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/mpt.rs
  zkevm-circuits/src/witness/mpt/test.rs
  zkevm-circuits/src/witness/mpt/witness.rs
  zktrie/Cargo.toml
  zktrie/src/lib.rs
  zktrie/src/state.rs
  zktrie/src/state/builder.rs
  zktrie/src/state/test.rs
  zktrie/src/state/witness.rs
Labels: crate-zkevm-circuits
