Repository scroll-tech/zkevm-circuits, pull requests merged in 2024-05, with the labels that each got.

#1241 Sequence Decoding and Execution
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables.rs
  aggregator/src/aggregation/decoder/tables/fse.rs
  aggregator/src/aggregation/decoder/tables/rom_fse_order.rs
  aggregator/src/aggregation/decoder/tables/rom_sequence_codes.rs
  aggregator/src/aggregation/decoder/witgen.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
Labels: da-compression

#1245 Clean up TLOAD and TSTORE and add tests
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/tstore.rs
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
  zkevm-circuits/src/evm_circuit/execution/tstore.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/witness/rw.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-integration-tests, crate-prover, crate-zkevm-circuits, CI, crate-circuit-benchmarks, T-bench, crate-gadgets, crate-keccak, crate-eth-types, crate-geth-utils, crate-external-tracer, crate-mock

#1227 Audit/1559 TxTable Tag Transitions
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1246 FSE `Predefined_Mode` support for sequences section
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables.rs
  aggregator/src/aggregation/decoder/tables/fse.rs
  aggregator/src/aggregation/decoder/tables/rom_fse_order.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
Labels: da-compression

#1247 `FixedTable` instead of multiple ROM tables
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables.rs
  aggregator/src/aggregation/decoder/tables/fixed.rs
  aggregator/src/aggregation/decoder/tables/fixed/fse_table_transition.rs
  aggregator/src/aggregation/decoder/tables/fixed/predefined_fse.rs
  aggregator/src/aggregation/decoder/tables/fixed/seq_code_to_value.rs
  aggregator/src/aggregation/decoder/tables/fixed/seq_data_interleaved_order.rs
  aggregator/src/aggregation/decoder/tables/fixed/seq_tag_order.rs
  aggregator/src/aggregation/decoder/tables/fixed/tag_transition.rs
  aggregator/src/aggregation/decoder/tables/fse.rs
  aggregator/src/aggregation/decoder/tables/rom_fse_order.rs
  aggregator/src/aggregation/decoder/tables/rom_sequence_codes.rs
  aggregator/src/aggregation/decoder/tables/rom_tag.rs
  aggregator/src/aggregation/decoder/witgen.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
Labels: da-compression

#1248 Self-review and missing constraints (misc fixes/refactoring)
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables/bitstring.rs
  aggregator/src/aggregation/decoder/tables/literals_header.rs
  gadgets/src/comparator.rs
  gadgets/src/less_than.rs
  zkevm-circuits/src/rlp_circuit_fsm.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits, crate-gadgets, da-compression

#1251 `tag=FseCode` should take into account "variable bit-packing"
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables/fixed.rs
  aggregator/src/aggregation/decoder/tables/fixed/variable_bit_packing.rs
Labels: da-compression

#1254 fix: poseidon-base default short
  Cargo.lock
  zkevm-circuits/src/evm_circuit/execution/error_write_protection.rs
Labels: crate-zkevm-circuits

#1209 feat: implement mcopy opcode
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/error.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/error_oog_memory_copy.rs
  bus-mapping/src/evm/opcodes/mcopy.rs
  eth-types/src/evm_types/opcode_ids.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  testool/Config.toml
  testool/codehash.txt
  testool/src/compiler.rs
  testool/src/statetest/executor.rs
  testool/src/statetest/parse.rs
  zkevm-circuits/src/copy_circuit/test.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/error_oog_memory_copy.rs
  zkevm-circuits/src/evm_circuit/execution/mcopy.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#1255 feat: copy circuit support overlap copy range
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm/opcodes/mcopy.rs
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
  zkevm-circuits/src/evm_circuit/execution/mcopy.rs
  zkevm-circuits/src/table.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1261 Handle cases of `is_nil` and `is_nb0` differently
  aggregator/src/aggregation/decoder.rs
Labels: da-compression

#1260 feat: retrace in BuilderClient::gen_inputs
  Cargo.lock
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder.rs
  integration-tests/Cargo.toml
Labels: crate-bus-mapping, crate-integration-tests

#1259 `SequenceInstructionTable` and `SequenceExecutionConfig`
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/seq_exec.rs
  aggregator/src/aggregation/decoder/tables.rs
  aggregator/src/aggregation/decoder/tables/seqinst_table.rs
  aggregator/src/aggregation/decoder/witgen.rs
  aggregator/src/aggregation/decoder/witgen/params.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
  aggregator/src/aggregation/decoder/witgen/util.rs
Labels: da-compression

#1267 opt: remove extcodesize code hashing in ccc
  bus-mapping/src/evm/opcodes/extcodesize.rs
  eth-types/src/state_db/l2.rs
  zkevm-circuits/src/witness/mpt.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1220 chore: fix typos
  bus-mapping/src/circuit_input_builder/block.rs
  zkevm-circuits/src/evm_circuit/param.rs
  zkevm-circuits/src/keccak_circuit.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1263 DA-Compression (Missing Pieces for single encoded batch)
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/seq_exec.rs
  aggregator/src/aggregation/decoder/tables/bitstring.rs
  aggregator/src/aggregation/decoder/tables/fixed/tag_transition.rs
  aggregator/src/aggregation/decoder/tables/fse.rs
  aggregator/src/aggregation/decoder/tables/literals_header.rs
  aggregator/src/aggregation/decoder/witgen.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
Labels: da-compression

#1271 Refactor/Cleanup Witgen code
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables/bitstring.rs
  aggregator/src/aggregation/decoder/tables/fixed/tag_transition.rs
  aggregator/src/aggregation/decoder/tables/fse.rs
  aggregator/src/aggregation/decoder/tables/literals_header.rs
  aggregator/src/aggregation/decoder/witgen.rs
  aggregator/src/aggregation/decoder/witgen/params.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
  aggregator/src/blob.rs
Labels: da-compression

#1225 Make aggregation circuit generic over number of snarks
  aggregator/src/aggregation/barycentric.rs
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/aggregation/rlc/config.rs
  aggregator/src/aggregation/rlc/gates.rs
  aggregator/src/batch.rs
  aggregator/src/blob.rs
  aggregator/src/constants.rs
  aggregator/src/core.rs
  aggregator/src/param.rs
  aggregator/src/tests/aggregation.rs
  aggregator/src/tests/blob.rs
  aggregator/src/tests/mock_chunk.rs
  aggregator/src/tests/rlc/dynamic_hashes.rs
  aggregator/src/tests/rlc/gates.rs
  aggregator/src/util.rs
  prover/src/common/prover/aggregation.rs
Labels: crate-prover, da-compression

#1274 Add constraints in state circuit for AccountTransientStorage
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/state_circuit/dev.rs
  zkevm-circuits/src/state_circuit/test.rs
Labels: crate-zkevm-circuits

#1269 fix sig issue for 1559/2930 in tx circuit
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/eip1559_2930.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1275 Fix/Da Compression Correct Multi-block Back Reference Target
  aggregator/src/aggregation/decoder/witgen.rs
Labels: da-compression

#1278 Fix: lookup errors emitted in RLP sub-circuit (reported by testool)
  zkevm-circuits/src/rlp_circuit_fsm.rs
Labels: crate-zkevm-circuits

#1273 Support multi-block
  Cargo.lock
  aggregator/Cargo.toml
  aggregator/data/test_blobs/multi/202708.hex
  aggregator/data/test_blobs/multi/202709.hex
  aggregator/data/test_blobs/multi/202710.hex
  aggregator/data/test_blobs/multi/202711.hex
  aggregator/data/test_blobs/multi/202712.hex
  aggregator/src/aggregation/config.rs
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables/bitstring.rs
  aggregator/src/aggregation/decoder/tables/fixed/fse_table_transition.rs
  aggregator/src/aggregation/decoder/tables/fixed/tag_transition.rs
  aggregator/src/aggregation/decoder/witgen.rs
  aggregator/src/aggregation/decoder/witgen/params.rs
Labels: da-compression

#1276 auditing updates for some comments
  zkevm-circuits/src/evm_circuit/execution/mcopy.rs
  zkevm-circuits/src/evm_circuit/util/memory_gadget.rs
Labels: crate-zkevm-circuits

#1282 fix copy circuit phase
  gadgets/src/is_equal.rs
  zkevm-circuits/src/copy_circuit.rs
Labels: crate-zkevm-circuits, crate-gadgets

#1280 fix tx circuit "tag" and enable 2930 super test with access list
  zkevm-circuits/src/super_circuit/eip1559_2930.rs
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1283 feat: split end block and padding
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/block.rs
  bus-mapping/src/circuit_input_builder/execution.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/end_inner_block.rs
  zkevm-circuits/src/evm_circuit/execution/padding.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/step.rs
Labels: crate-bus-mapping, crate-zkevm-circuits

#1285 Fix: fix ci errors in pr#1280
  zkevm-circuits/src/super_circuit/test.rs
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1290 upgrade revm to v36
  Cargo.lock
  Cargo.toml
  eth-types/src/l2_types.rs
Labels: crate-eth-types

#1286 Auditing: constrain rwc_inc_left for last & first step
  zkevm-circuits/src/copy_circuit.rs
  zkevm-circuits/src/copy_circuit/copy_gadgets.rs
Labels: crate-zkevm-circuits

#1292 refactor prover codes
  Cargo.lock
  eth-types/src/evm_types/opcode_ids.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  go.work.sum
  prover/src/inner/prover/mock.rs
  prover/src/utils.rs
  prover/src/zkevm/capacity_checker.rs
  prover/src/zkevm/circuit.rs
  prover/src/zkevm/circuit/l1_builder.rs
  prover/src/zkevm/circuit/l2_builder.rs
  prover/src/zkevm/circuit/super_circuit.rs
  testool/src/statetest/executor.rs
  zkevm-circuits/src/super_circuit.rs
  zkevm-circuits/src/super_circuit/params.rs
Labels: crate-prover, crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#1279 feat: upgrade sys contract
  .github/workflows/ci.yml
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/curie.rs
  bus-mapping/src/data/v1_l1_oracle_bytecode.txt
  bus-mapping/src/data/v2_l1_oracle_bytecode.txt
  bus-mapping/src/evm/opcodes/extcodesize.rs
  bus-mapping/src/l2_predeployed.rs
  prover/src/common/prover/evm.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/super_circuit/test.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, CI

#1295 [FIX #1258] conditional constraint of copy lookup in begin_tx
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
Labels: crate-zkevm-circuits

#1297 `AggregationCircuit` Variadic tests and fix for permutation check not done on fixed rows
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/tests/aggregation.rs
Labels: da-compression

#1299 `AggregationCircuit`: lookup degree <= 9
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/tables/bitstring.rs
  aggregator/src/aggregation/decoder/tables/fse.rs
  aggregator/src/aggregation/decoder/tables/literals_header.rs
  aggregator/src/aggregation/decoder/tables/seqinst_table.rs
  aggregator/src/aggregation/decoder/witgen.rs
  aggregator/src/aggregation/decoder/witgen/types.rs
Labels: da-compression

#1291 Import zstd from da-codec
  Cargo.lock
  aggregator/Cargo.toml
  aggregator/src/aggregation/decoder/witgen/params.rs
  aggregator/src/lib.rs
Labels: da-compression

#1298 Refactor/Da Compression Witness Generation
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/witgen.rs
Labels: da-compression

#1300 fix: equality constraints for len(bytes) for both blob and batch
  aggregator/src/aggregation/batch_data.rs
  aggregator/src/aggregation/blob_data.rs
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/rlc/gates.rs
Labels: da-compression

#1296 opt: reduce agg circuit phase
  Cargo.lock
  aggregator/Cargo.toml
  aggregator/src/aggregation/circuit.rs
  aggregator/src/aggregation/config.rs
  aggregator/src/aggregation/decoder.rs
  aggregator/src/aggregation/decoder/seq_exec.rs
  aggregator/src/tests/aggregation.rs
  aggregator/src/tests/blob.rs
  aggregator/src/tests/compression.rs
  aggregator/src/tests/mock_chunk.rs
  aggregator/src/tests/rlc/dynamic_hashes.rs
  aggregator/src/tests/rlc/gates.rs
  aggregator/src/util.rs
  zkevm-circuits/src/util.rs
Labels: crate-zkevm-circuits, da-compression

#1302 `byte_idx` MUST increment for certain tags
  aggregator/src/aggregation/decoder.rs
Labels: da-compression

#1301 feat: l1 fee contract upgrade part2
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/curie.rs
  bus-mapping/src/data/v2_l1_oracle_bytecode.txt
  bus-mapping/src/l2_predeployed.rs
  eth-types/src/forks.rs
  eth-types/src/lib.rs
  eth-types/src/state_db/l2.rs
  prover/src/io.rs
  zkevm-circuits/src/evm_circuit.rs
  zkevm-circuits/src/evm_circuit/execution/end_block.rs
  zkevm-circuits/src/evm_circuit/execution/return_revert.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
Labels: crate-bus-mapping, crate-prover, crate-zkevm-circuits, crate-eth-types

#1303 Fix: tx circuit errors
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1310 Fix: tx circuit constraint err for access list init section
  zkevm-circuits/src/tx_circuit.rs
Labels: crate-zkevm-circuits

#1308 [FIX #1307]
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
Labels: crate-zkevm-circuits

#1293 update L1 data fee for curie
  bus-mapping/Cargo.toml
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  bus-mapping/src/l2_predeployed.rs
  eth-types/src/geth_types.rs
  geth-utils/l2geth/go.mod
  geth-utils/l2geth/go.sum
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
  zkevm-circuits/src/witness/l1_msg.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types, crate-geth-utils

#1312 Chore: fix clippy
  bus-mapping/src/circuit_input_builder/transaction.rs
  eth-types/src/geth_types.rs
  zkevm-circuits/src/evm_circuit/execution/begin_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/util/common_gadget/tx_l1_fee.rs
  zkevm-circuits/src/witness/l1_msg.rs
Labels: crate-bus-mapping, crate-zkevm-circuits, crate-eth-types

#1311 agg circuit: change keccak degree and num chunks
  aggregator/src/aggregation/circuit.rs
  aggregator/src/constants.rs
  aggregator/src/param.rs
  aggregator/src/tests/aggregation.rs
  aggregator/src/tests/mock_chunk.rs
  aggregator/src/tests/rlc/dynamic_hashes.rs
  prover/src/aggregator/prover.rs
  prover/src/consts.rs
  prover/src/io.rs
  prover/src/proof.rs
  zkevm-circuits/src/keccak_circuit/keccak_packed_multi.rs
Labels: crate-prover, crate-zkevm-circuits
